routeEnhancers:
  PageTypeSuffix:
    map:
      'uploadFile.json': 1386871773
      'deleteFile.json': 1386871774
      'cropImage.json': 44900073

  jveventEventPlugin:
    type: Extbase
    extension: JvEvents
    plugin: Event

    defaults:
      event_id: '1'
    routes:
      - routePath: '/event/event/show/{event_slug}'
        _controller: 'Event::show'
        _arguments:
          event_slug: event
    aspects:
      event_slug:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_event
        routeFieldName: slug
      event_id:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_event
        routeFieldName: uid

  jveventLocationPlugin:
    type: Extbase
    extension: JvEvents
    plugin: Location

    routes:
      - routePath: '/event/location/show/{location_slug}'
        _controller: 'Location::show'
        _arguments:
          location_slug: location
    aspects:
      location_slug:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_location
        routeFieldName: slug

  jveventOrganizerPlugin:
    type: Extbase
    extension: JvEvents
    plugin: Organizer

    routes:
      - routePath: '/event/organizer/show/{organizer_slug}'
        _controller: 'Organizer::show'
        _arguments:
          organizer_slug: organizer
          action: show
    aspects:
      organizer_slug:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_organizer
        routeFieldName: slug

  jveventMediaPlugin:
    type: Extbase
    extension: JvEvents
    plugin: Media

    routes:
      - routePath: '/media/show/{media_slug}'
        _controller: 'Media::show'
        _arguments:
          media_slug: media
    aspects:
      media_slug:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_media
        routeFieldName: slug
        
  jveventAjaxPlugin:
    type: Extbase
    extension: JvEvents
    plugin: Ajax

    routes:
      - routePath: '/event/ajax/{mode}/{event_id}'
        _controller: 'Ajax::eventList'
        _arguments:
          event_id: event
          action: eventList
          mode: mode
      - routePath: '/event/reserveSeat/{event_id}/session/{session_id}'
        _controller: 'Ajax::reserveSeat'
        _arguments:
          event_id: event
          session_id: session

      - routePath: '/event/returnSeat/{event_id}/session/{session_id}'
        _controller: 'Ajax::returnSeat'
        _arguments:
          event_id: event
          session_id: session

    aspects:
      event_id:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_event
        routeFieldName: uid
    defaults:
      mode: 'onlyJson'
      seat_id: '0'


  jveventRegistrantPlugin:
    type: Extbase
    extension: JvEvents
    plugin: Registrant

    defaults:
      event_id: '1'
      registrant: '1'
    routes:
      - routePath: '/event/{event_id}/registrant/{registrant}/hash/{hash}'
        _controller: 'Registrant::checkQrcode'
        _arguments:
          reg_id: registrant
          event_id: event
          hash: hash

      - routePath: '/registrant/{event_slug}/new'
        _controller: 'Registrant::new'
        _arguments:
          event_slug: event
    aspects:
      event_id:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_event
        routeFieldName: uid
      event_slug:
        type: PersistedAliasMapper
        tableName: tx_jvevents_domain_model_event
        routeFieldName: slug