{namespace jvt=Jve\JveTemplate\ViewHelpers}
{namespace jve=JVE\JvEvents\ViewHelpers}

<f:render partial="Event/Single/Partial{settings.LayoutSingle}/Minimal"	arguments="{event: event, settings: settings}"/>

<f:if condition="{settings.regErrorMsg}">
	<f:then>
		<div class="alert alert-danger">
			<div class="alert-heading">
				{f:translate(key: 'register_was_not_stored' , default:'ERROR: Your registration was NOT stored')}
			</div>
			<div class="alert-body">
				{settings.regErrorMsg}
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-success">
			<div class="alert-heading ">
				{f:translate(key: 'register_was_stored' , default:'Your registration was stored')}
			</div>
			<div class="alert-body">
				<f:if condition="{settings.success}">
					<f:then>
						<div class="hidden">ID: {settings.pageId}-L-{settings.sys_language_uid}-E-{event.uid}-R-{registrant.uid}<br></div>
						<f:if condition="{settings.alreadyRegistered}">
							<h3>{f:translate(key: '{settings.you_are_registered_again}')}</h3>
							<f:if condition="{settings.register.doNotallowSameEmail}">
								<f:else>
									<i>{f:translate(key: '{settings.you_are_registered_again}')}</i><br><br>
								</f:else>
							</f:if>

						</f:if>
						<f:if condition="{settings.successMsg}">
							{f:translate(key: '{settings.successMsg}')}
						</f:if>

					</f:then>
				</f:if>
			</div>
		</div>

	</f:else>
</f:if>