{namespace event=JVE\JvEvents\ViewHelpers}

<f:comment>

	<!--

	Template without different billing address

	-->

</f:comment>


<f:form action="create" class="jv-events-regform" name="registrant" object="{registrant}" enctype="multipart/form-data">

	<f:render partial="Registrant/Partial{settings.LayoutRegister}/Restrictions" section="Main" arguments="{_all}"></f:render>

	<f:render partial="FormErrors" section="Main" arguments="{for: 'registrant'}" />
	<f:render partial="FormOtherErrors" section="Main" arguments="{for: 'event' ,field: 'uid'}" />

	<f:form.hidden class="d-none" name="event" value="{event.uid}" />
	<f:form.textfield class="d-none" property="layoutRegister" value="{settings.LayoutRegister}" />
	<f:form.textfield class="d-none" property="event" value="{event.uid}" />


	<div class="row-fluid clearfix">
		<div id="jv_events_js_error" class="d-none">
			<div class="alert alert-warning">
				{f:translate(key: 'register_send_error' , default: 'Some required Fields are empty')}
			</div>
		</div>

		<div class="clearfix d-none">
			<f:comment><!-- three spam and xss protection fields  //--></f:comment>
			<f:form.textfield class="d-none" property="startReg" value="{settings.startReg}" />
			<f:form.textfield class="d-none" name="formToken" value="{settings.formToken}" />
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.hotprice', FieldName : 'hotprice' , settings: settings , cols: 'col-sm-12' , required: '{f:if(condition: \'{settings.register.required.hotPrice}\' , then: \'TRUE\')}'}"/>
		</div>
		<hr>
		<fieldset class="form-group">
			<legend>{f:translate(key: 'register_head_participant_data' , default:'Participants Data')}</legend>
			<div class="row">
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowGender" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.gender', FieldName : 'gender' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.gender}\' , then: \'TRUE\')}'}"/>
			</div>
			<div class="row">
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.first_name', FieldName : 'firstName' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.firstName}\' , then: \'TRUE\')}'}"/>
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.last_name', FieldName : 'lastName' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.lastName}\' , then: \'TRUE\')}'}"/>
			</div>
			<f:if condition="{settings.register.eachPerson} && {event.registerGender != '3'}">
				<f:else>
					<div class="row">
						<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowGender" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.gender', FieldName : 'more1' , settings: settings , cols: 'col-sm-6' , required: ''}"/>
					</div>
					<div class="row">
						<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.first_name', FieldName : 'more2' , settings: settings , cols: 'col-sm-6' , required: ''}"/>
						<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.last_name', FieldName : 'more3' , settings: settings , cols: 'col-sm-6' , required: ''}"/>

					</div>
				</f:else>
			</f:if>



		</fieldset>

		<fieldset class="form-group">
			<div class="row">
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.email', FieldName : 'email' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.email}\' , then: \'TRUE\')}'}"/>
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.phone', FieldName : 'phone' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.phone}\' , then: \'TRUE\')}'}"/>
			</div>

			<f:if condition="{settings.register.required.streetAndNr}">
				<div class="row">
					<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.street_and_nr', FieldName : 'streetAndNr' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.streetAndNr}\' , then: \'TRUE\')}'}"/>
				</div>
			</f:if>

			<f:if condition="{settings.register.required.city}">
				<div class="row">
					<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.zip', FieldName : 'zip' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.zip}\' , then: \'TRUE\')}'}"/>

					<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.city', FieldName : 'city' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.city}\' , then: \'TRUE\')}'}"/>
				</div>
			</f:if>
			<f:if condition="{settings.register.required.country}">
				<div class="clearfix">
					<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowCountry" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.country', FieldName : 'country' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.country}\' , then: \'TRUE\')}'}"/>
				</div>
			</f:if>
		</fieldset>


		<fieldset class="form-group">
			<legend>{f:translate(key: 'register_head_more_info' , default:'Additional Infos')}</legend>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.additional_info', FieldName : 'additionalInfo' , settings: settings , cols: 'col-sm-12' , textarea: '1' , required: '{f:if(condition: \'{settings.register.required.additionalInfo}\' , then: \'TRUE\')}'}"/>

			<f:if condition="{settings.register.required.privacy}">
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowCheckPrivacy" arguments="{FieldName : 'privacy' , settings: settings , cols: 'col-sm-12'}"/>
			</f:if>

		</fieldset>

		<div class="clearfix text-right col-12">
			<a class="btn btn-outline-primary" onclick="jv_events_submit();return false;">
				{f:translate(key: 'register_send' , default:'Register')}
			</a>
		</div>


	</div>
</f:form>
