{namespace jvt=Jve\JveTemplate\ViewHelpers}
<h1 xmlns:f="http://www.w3.org/1999/html">Registrations  {event.startDate -> f:format.date(format:"d.m.Y")} - {event.name}</h1>

<f:flashMessages />

<div class="row">
	<div class="text-left col-6">
		<f:link.action action="show" controller="Event" pageUid="{settings.detailPid}"  class="btn btn-secondary" arguments="{event : event.uid}">
			<i class="fa fa-eye mr-2"> </i> <f:translate key="tx_jvevents_event.list.event_details"> </f:translate>
		</f:link.action>
	</div>
	<f:if condition="{registrants}">
		<div class="text-right col-6">
			<f:link.action action="list" class="btn btn-primary" noCache="1"  arguments="{event : event.uid, hash: hash, export: 1}"> CSV Export </f:link.action>
		</div>
		<div class="clearfix col-12">

		</div>
		<table  class="table table-responsive table-bordered mt-3" >
			<tr>
				<th><span title="Count of persons in registration">#</span></th>
				<th><i class="fa fa-wrench text-light" title="Action Column"></i></th>
				<th><i class="fa fa-info-circle text-light" title="Status of registration"></i></th>
				<th><i class="fa fa-transgender" title="Gender"></i></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.first_name" /></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.last_name" /></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.email" /></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.phone" /></th>
				<th><i class="fa fa-transgender" title="Gender"></i></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.first_name" /></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.last_name" /></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.street_and_nr" /></th>
				<th><f:translate key="tx_jvevents_domain_model_registrant.zip" /></th>
				<th><f:translate default="City" key="tx_jvevents_domain_model_registrant.city" /></th>
			</tr>
			<f:variable name="regCount">0</f:variable>
			<f:variable name="regCountWait">0</f:variable>
			<f:for each="{registrants}" as="registrant">
				<f:if condition="{registrant.hidden}">
					<f:then>
						<f:variable name="regCountSingle"></f:variable>
					</f:then>
					<f:else>
						<f:if condition="{registrant.confirmed}">
							<f:then>
								<f:if condition="{registrant.more2} || {registrant.more3}">
									<f:then><f:variable name="regCount">{regCount + 2}</f:variable><f:variable name="regCountSingle">2</f:variable></f:then>
									<f:else><f:variable name="regCount">{regCount + 1}</f:variable><f:variable name="regCountSingle">1</f:variable></f:else>
								</f:if>
							</f:then>

							<f:else>
								<f:if condition="{registrant.more2} || {registrant.more3}">
									<f:then><f:variable name="regCountWait">{regCountWait + 2}</f:variable><f:variable name="regCountSingle">(2)</f:variable></f:then>
									<f:else><f:variable name="regCountWait">{regCountWait + 1}</f:variable><f:variable name="regCountSingle">(1)</f:variable></f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
				<tr data-toggle="tooltip" title="{registrant.additionalInfo}">
					<td>
						{regCountSingle}
					</td>
					<td>
						<f:if condition="{registrant.hidden}">
							<f:then>
								<f:link.action action="delete" arguments="{registrant: registrant.uid, hash: hash , doit: '1'}" >
									<i class="fa fa-trash text-error" title="DELETE THIS REGISTRATION really!!!"> </i>
								</f:link.action>
							</f:then>

							<f:else>
								<f:if condition="{registrant.confirmed}">
									<f:then>
										<f:link.action action="delete" arguments="{registrant: registrant.uid, hash: hash}">
											<i class="fa  fa-window-close  text-error " title="CANCEL THIS Registration"> </i>
										</f:link.action>
									</f:then>
									<f:else>
										<f:link.action action="confirm" arguments="{registrant: registrant.uid, hash: hash , doit: '1'}"  pageUid="event.registrationFormPid">
											<i class="fa fa-envelope text-warning " title="confirm This Registration ..  "> </i>
										</f:link.action>

									</f:else>
								</f:if>
							</f:else>
						</f:if>
						<f:link.action action="new" arguments="{event: event.uid, registrant: registrant.uid, hash: hash }" controller="Registrant" >
							<i class="fa fa-edit text-error " title="edit..  "> </i>
						</f:link.action>
					</td>
					<td>
						<f:if condition="{registrant.hidden}">
							<f:then>
								<i class="fa fa-window-close text-warning " title="canceled"> </i>
							</f:then>
							<f:else>
								<f:if condition="{registrant.confirmed}">
									<f:then>
										<i class="fa fa-check-circle text-success " title="confirmed"> </i>
									</f:then>
									<f:else>
										<i class="fa fa-hourglass-start text-warning " title="unconfirmed on Waiting List"> </i>
									</f:else>
								</f:if>

							</f:else>
						</f:if>
					</td>
					<td>
						<f:if condition="{registrant.gender} == '1'">
						<f:then>
							<i class="fa fa-male " title="male"> </i>
						</f:then>
						<f:else>
							<f:if condition="{registrant.gender} == '2'">
								<i class="fa fa-female " title="female"> </i>
							</f:if>
						</f:else>
						</f:if>
					</td>
					<td>{registrant.firstName}</td>
					<td>{registrant.lastName}</td>
					<td><i class="fa fa-envelope  mr-2"></i><f:link.email email="{registrant.email}">{registrant.email}</f:link.email></td>
					<td><i class="fa fa-phone mr-2"></i><f:link.external uri="tel:{registrant.phone}">{registrant.phone}</f:link.external> </td>
					<td>
						<f:if condition="{registrant.more1} == '1'">
							<f:then>
								<i class="fa fa-male " title="male"> </i>
							</f:then>
							<f:else>
								<f:if condition="{registrant.more1} == '2'">
									<i class="fa fa-female " title="female"> </i>
								</f:if>
							</f:else>
						</f:if>
					</td>
					<td>{registrant.more2}</td>
					<td>{registrant.more3}</td>
					<td>{registrant.streetAndNr}</td>
					<td>{registrant.zip}</td>
					<td>{registrant.city}</td>
				</tr>

			</f:for>
		</table>
		<hr>
		<b><f:translate key="registrations" default="Anmeldungen" />: {regCount} <f:if condition="{regCountWait}"> <span title="{f:translate(key:'tx_jvevents_domain_model_event.available_waiting_seats' , default:'')}"> (+ {regCountWait} <span class="d-none d-sm-inline-block">{f:translate(key:'tx_jvevents_domain_model_event.available_waiting_seats' , default:'')}</span> ) </span></f:if> </b>

	</f:if>
	<div class="clearfix col-12">

	</div>
</div>