
<f:layout name="Edit" />


<f:section name="main">
    <f:if condition="{settings.LayoutSingle}">
        <f:then>
            <f:variable name="layoutList">{settings.LayoutSingle}</f:variable>
        </f:then>
        <f:else>
            <f:variable name="layoutList">5Tango</f:variable>
        </f:else>
    </f:if>


    <div class="card col-12 text-white bg-primary  jv-events-partial{settings.LayoutSingle}" id="my-profile-edit-profiledata">

        <div class="card-header">
            <span class="fa fa-wrench border-primary rounded-circle"></span>
            <span><f:translate key="tx_jvevents_domain_model_organizer.assistent">Assistent</f:translate></span>
        </div>

        <div class="card-body text-black-50 bg-white row">
            <f:security.IfAuthenticated>
                <f:then>
                    <div class="col-sm-4 equalHeight">
                        <f:render partial="FeEditHelp" arguments="{section: 'organizer', organizer: organizer.0 , settings: settings , user: user}" />
                    </div>
                    <div class="col-sm-8 equalHeight">

                        <f:if condition="{count} > 1">
                            <f:then>
                                <f:render section="moreThanOne" arguments="{_all}"></f:render>
                            </f:then>
                            <f:else>
                                <f:if condition="{count} < 1">
                                    <f:then>
                                        <f:if condition="{isOrganizer}">
                                            <f:then>
                                                <f:render section="createButton" arguments="{_all}"></f:render>
                                            </f:then>
                                            <f:else>
                                                <f:render section="notOrganizerYet" arguments="{_all}"></f:render>
                                            </f:else>
                                        </f:if>

                                    </f:then>
                                    <f:else>
                                        <f:if condition="{organizer.0.hidden}">
                                            <f:then>
                                                <f:render section="stillHidden" arguments="{_all}"></f:render>
                                            </f:then>
                                            <f:else>
                                                <f:render section="oneOrganizer" arguments="{_all}"></f:render>
                                            </f:else>
                                        </f:if>

                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>

                </f:then>
                <f:else>
                    <f:render partial="pleaseLogin" arguments="{_all}"></f:render>

                </f:else>

            </f:security.IfAuthenticated>
        </div>
    </div>
    <f:security.IfAuthenticated>
        <f:then>
            <f:if condition="{organizer.0.uid}">
                <h2>
                    <f:translate key="tx_jvevents_domain_model_event.organizer">Organizer</f:translate>
                </h2>
                <f:render partial="Organizer/List/Partial{layoutList}/SingleOrganizer" arguments="{organizer:organizer.0, settings: settings, showDetails: '0' , showEditButton: '1', hideDefaultImg: '1'}" />
                <hr>
                <f:form class="form-horizontal"  action="new" name="event" object="{event}" id="event_new">
                    <f:render partial="Location/SelectDefaultLocation" arguments="{_all}" />
                </f:form>

            </f:if>
        </f:then>
    </f:security.IfAuthenticated>
</f:section>


<f:section name="oneOrganizer">
    <div class="alert alert-info">
        <h3>Status: <span class="far fa-check-square"> </span> <span>Aktiv</span></h3>
        <p>Username: <b>{userData.username}</b></p>
        <div class="text-right">
            <f:link.action pageUid="{settings.pageIds.editUserAccount}" class="btn btn-primary">
                <span class="fas fa-users-cog"> </span> <span class="hidden-xs">{f:translate(key: 'edit', default: 'Edit')} {f:translate(key: 'Account', default: 'Account')} </span>
            </f:link.action>
        </div>

    </div>


</f:section>

<f:section name="contactWebmaster">
    <div>
        Please Contact Webmaster via: <br> <br>
        <f:link.email class="btn btn-secondary" email="info@tangomuenchen.de?subject=[TANGO] [ID:U-{user}-O-{organizer.uid}-P-{organizer.pid}] Anfrage">info [at] tangomuenchen.de</f:link.email>
    </div>
</f:section>


<f:section name="moreThanOne">
    <div class="alert alert-warning">
        <h3>
            ERROR: More than one ORGANIZER!
        </h3>
        <p>
            Your User is connected to more than one ORGANIZER. Sorry, but this does not work at the Moment!<br>
            <f:render section="contactWebmaster" arguments="{organizer: organizer.0 , settings: settings , user: user}"></f:render>

        </p>
    </div>
</f:section>


<f:section name="notOrganizerYet">
    <div class="alert alert-warning">
        <h3>Account Status: <span class="far fa-square"> </span> <span>Pending</span></h3>
        <p>
            Dein User Account ist noch nicht als Veranstalter freigeschaltet. <br>

            <br>
            <f:render section="createButton" arguments="{_all}"></f:render>

        </p>
    </div>
</f:section>





<f:section name="createButton">
    <div class="card-group">
        <div class="card col-sm-6 px-0 mx-2">
            <div class="card-header">
                <b>{f:translate(key: 'create.organizer.create.Headline', default: 'Want to become an Organizer?')} </b>

            </div>
            <div class="card-body">
                <p>{f:translate(key: 'create.organizer.create.text', default: 'Just click on this button and fill the Form')} </p>

            </div>
            <div class="card-footer">
                <div class="float-right">
                    <div>
                        Es entstehen keine Kosten!
                        <br>
                        <br>
                        <f:link.action pageUid="{settings.pageIds.editOrganizer}" action="new" controller="Organizer" class="btn btn-primary">
                            <span class="fas fa-plus-square"> </span> <span class="hidden-xs">{f:translate(key: 'create.organizer', default: 'Create New Organizer')}</span>
                        </f:link.action>
                    </div>
                </div>
            </div>
        </div>
        <div class="card  col-sm-6 px-0 mx-2">
            <div class="card-header">
                <b>{f:translate(key: 'create.organizer.AddUser.Headline', default: 'Manage an existing Organizer?')} </b>

            </div>
            <div class="card-body">
                <p>{f:translate(key: 'create.organizer.AddUser.text', default: 'Neu registriert und möchtest die Daten eines bestehenen Veranstalters ändern?')} </p>


            </div>
            <div class="card-footer">
                <div class="float-right">
                    <f:render section="contactWebmaster" arguments="{organizer: organizer.0 , settings: settings , user: user}"></f:render>
                </div>
            </div>
        </div>
    </div>


    <br/>


</f:section>




<f:section name="stillHidden">
    <div class="alert alert-warning">
        <h3>Organizer Status: <span class="far fa-square"> </span> <span>inactiv</span></h3>
        <p>
            Your Account is not activated!<br>
            <br>
            <b>Bevor Du Termine eintragen, muss Dein Account freigeschaltet werden.</b><br><br>
            Die Prüfung und Freischaltung dauert bin der Regel bis maximal 2 Tage. Wenn es mal länger dauert, ist deine Anfrage evt. untergegangen. <br>
            Um die Freischaltung zu beschleunigen:<br>

            <f:render section="contactWebmaster" arguments="{organizer: organizer.0 , settings: settings , user: user}"></f:render>

        </p>
    </div>


</f:section>