
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Organizer</h1>

<f:flashMessages />

<table  class="tx_jvevents" >
	<tr>
		<th><f:translate key="tx_jvevents_domain_model_organizer.name" /></th>
		<th><f:translate key="tx_jvevents_domain_model_organizer.email" /></th>
		<th><f:translate key="tx_jvevents_domain_model_organizer.phone" /></th>
		<th><f:translate key="tx_jvevents_domain_model_organizer.sales_force_user_id" /></th>
		<th><f:translate key="tx_jvevents_domain_model_organizer.images" /></th>
		<th><f:translate key="tx_jvevents_domain_model_organizer.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{organizers}" as="organizer">
		<tr>
			<td><f:link.action action="show" arguments="{organizer : organizer}"> {organizer.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organizer : organizer}"> {organizer.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organizer : organizer}"> {organizer.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organizer : organizer}"> {organizer.salesForceUserId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organizer : organizer}"> {organizer.images.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{organizer : organizer}"> {organizer.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{organizer : organizer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{organizer : organizer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Organizer</f:link.action>
</f:section>