
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:if condition="{settings.LayoutList}">
		<f:then>
			<f:variable name="layoutList">{settings.LayoutList}</f:variable>
		</f:then>
		<f:else>
			<f:variable name="layoutList">5Tango</f:variable>
		</f:else>
	</f:if>
	<f:flashMessages />

	<div class="jv_events_{layoutList} {settings.list.additionalClass}">
		<f:if condition="{organizers}">
			<f:then>
				<f:render partial="Organizer/List/Partial{layoutList}/Header" arguments="{settings: settings}" />
				<f:render partial="Organizer/List/Partial{layoutList}/Filter" arguments="{orgFilter: orgFilter, settings: settings}" />

				<f:for each="{organizers}" as="organizer">
					<f:render partial="Organizer/List/Partial{layoutList}/SingleOrganizer" arguments="{organizer:organizer, settings: settings}" />
				</f:for>
			</f:then>
		</f:if>
	</div>
</f:section>