
<f:layout name="Default" />

<f:section name="main">

  <f:if condition="{settings.LayoutList}">
    <f:then>
      <f:variable name="layoutList">{settings.LayoutList}</f:variable>
    </f:then>
    <f:else>
      <f:variable name="layoutList">5Tango</f:variable>
    </f:else>
  </f:if>

<f:flashMessages />

  <f:render partial="Organizer/Single/Partial{layoutList}/Header" arguments="{organizer:organizer, settings: settings}" />
  <f:render partial="Organizer/List/Partial{layoutList}/SingleOrganizer" arguments="{organizer:organizer, settings: settings, showDetails: '1' }" />

</f:section>