
<table class="tx-jv-events" >
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.event_type" />
		</td>
		<td>
			{event.eventType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.name" />
		</td>
		<td>
			{event.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.teaser" />
		</td>
		<td>
			{event.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.images" />
		</td>
		<td>
			{event.images.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.files" />
		</td>
		<td>
			{event.files.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.all_day" />
		</td>
		<td>
			{event.allDay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.start_date" />
		</td>
		<td>
			{event.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.start_time" />
		</td>
		<td>
			{event.startTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.end_date" />
		</td>
		<td>
			{event.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.end_time" />
		</td>
		<td>
			{event.endTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.access" />
		</td>
		<td>
			{event.access}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.with_registration" />
		</td>
		<td>
			{event.withRegistration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.registration_until" />
		</td>
		<td>
			{event.registrationUntil -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.registration_access" />
		</td>
		<td>
			{event.registrationAccess}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.store_in_citrix" />
		</td>
		<td>
			{event.storeInCitrix}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.citrix_uid" />
		</td>
		<td>
			{event.citrixUid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.store_in_sales_force" />
		</td>
		<td>
			{event.storeInSalesForce}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.marketing_process_id" />
		</td>
		<td>
			{event.marketingProcessId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.sales_force_record_type" />
		</td>
		<td>
			{event.salesForceRecordType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.sales_force_event_id" />
		</td>
		<td>
			{event.salesForceEventId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.sales_force_session_id" />
		</td>
		<td>
			{event.salesForceSessionId -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.available_seats" />
		</td>
		<td>
			{event.availableSeats}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.registered_seats" />
		</td>
		<td>
			{event.registeredSeats}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.unconfirmed_seats" />
		</td>
		<td>
			{event.unconfirmedSeats -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.notify_organizer" />
		</td>
		<td>
			{event.notifyOrganiser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.notify_registrant" />
		</td>
		<td>
			{event.notifyRegistrant}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.subject_organizer" />
		</td>
		<td>
			{event.subjectOrganizer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.text_organizer" />
		</td>
		<td>
			{event.textOrganizer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.subject_registrant" />
		</td>
		<td>
			{event.subjectRegistrant}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.text_registrant" />
		</td>
		<td>
			{event.textRegistrant}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.need_to_confirm" />
		</td>
		<td>
			{event.needToConfirm}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.is_recurring" />
		</td>
		<td>
			{event.isRecurring}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.frequency" />
		</td>
		<td>
			{event.frequency}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.freq_exception" />
		</td>
		<td>
			{event.freqException}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_event.is_exception_for" />
		</td>
		<td>
			{event.isExceptionFor}
		</td>
	</tr>
</table>