{namespace jve=JVelletti\JvEvents\ViewHelpers}

<f:if condition="{paginator.numberOfPages} > 1">
  <f:variable name="minPage">0</f:variable>
  <f:if condition="{paginator.currentPageNumber} > 3">
    <f:variable name="minPage">{paginator.currentPageNumber -4}</f:variable>
  </f:if>
  <f:variable name="maxPage">{minPage +6}</f:variable>

  <div class="position-relative bg-light" style="height: 35px; ">
     <nav aria-label="pagebrowser  ">
    <div class="position-absolute top-0 start-50 translate-middle-x " >
      <ul class="f3-widget-paginator pagination">
        <li class="page-link">
            Page {paginator.currentPageNumber} / {pagination.allPageNumbers -> f:count()}
        </li>
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
          <li class="previous">
            <jve:be.uri arguments="{route: 'jvevents_eventmngt',id:pageId,currentPage:pagination.previousPageNumber, recursive: recursive, onlyActual: onlyActual,event:event}" title="previous" class="page-link"> &lt; </jve:be.uri>
          </li>
        </f:if>
        <f:if condition="{pagination.hasLessPages} || {minPage} > 0 ">
          <li class="page-item">…</li>
        </f:if>

        <f:for each="{pagination.allPageNumbers}" as="page" iteration="index">

          <f:if condition="{page} == {paginator.currentPageNumber}">
            <f:then>
              <li class="page-item current active">
                <span class="page-link">{page}</span>
              </li>
            </f:then>
            <f:else>
              <f:if condition="{index.index} > {minPage}  && {index.index} < {maxPage}">
                <li class="page-item">
                  <jve:be.uri arguments="{route: 'jvevents_eventmngt',id:pageId,currentPage:page, recursive: recursive, onlyActual: onlyActual,event:event}" title="previous" class="page-link"> {page} </jve:be.uri>
                </li>
              </f:if>

            </f:else>
          </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages} || {maxPage} < {pagination.lastPageNumber} ">
          <li class="page-item">…</li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
          <li class="next">
            <jve:be.uri arguments="{route: 'jvevents_eventmngt',pageId:id,currentPage:pagination.nextPageNumber, recursive: recursive, onlyActual: onlyActual,event:event}" title="previous" class="page-link"> &gt; </jve:be.uri>
          </li>
        </f:if>
      </ul>
    </div>
  </nav>
  </div>
</f:if>