<f:layout name="Ajax" />

<f:section name="main">

    <rss version="2.0"	xmlns:content="http://purl.org/rss/1.0/modules/content/"
         xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
            <title>ALLPLAN GmbH Events</title>
            <link>https://www.allplan.com/</link>
            <description>Similar Events</description>
            <language>de</language>
            <pubDate>Mon, 22 Oct 2018 02:43:45 +0000</pubDate>
            <lastBuildDate>Mon, 22 Oct 2018 02:43:45 +0000</lastBuildDate>
            <image>
                <title>www.allplan.com</title>
                <link>https://www.allplan.com/</link>
                <url>https://www.allplan.com/typo3conf/ext/allplan_template/Resources/Public/Images/Logos/allplan-logo.svg</url>
            </image>

            <f:if condition="{output.events}">
                <f:then>
                    <f:for each="{output.events}" as="event">

                        <item>
                            <guid isPermaLink="false">event-{event.uid}</guid>
                            <pubDate><f:format.date format="d.M.Y H:i:s +0200">{event.startDate}</f:format.date></pubDate>
                            <title>{event.name}</title>
                            <link>{event.link}</link>
                            <description><f:format.date format="d.M.Y">{event.startDate}</f:format.date> | {event.locationCity}</description>
                            <content:encoded> {event.teaser}
                            </content:encoded>
                        </item>
                    </f:for>
                </f:then>
            </f:if>

        </channel>
    </rss>
</f:section>