<f:layout name="Ajax" />

<f:section name="main">
    <f:if condition="{output.event.hasAccess} || {output.location.hasAccess} || {output.organizer.hasAccess} ">
        <ul class="nav navbar-nav navbar navbar-left">
    </f:if>

        <f:if condition="{output.event.hasAccess}">
                <li>
                    <f:link.action pageUid="{settings.pageIds.editEvent}" class="btn btn-primary" action="edit" controller="Event" arguments="{event: output.event.eventId}">
                        <span class="fa fa-4x fa-edit">
                            <span class="hidden-xs">Edit Event</span>
                        </span>
                    </f:link.action>
                </li>
        </f:if>
        <f:if condition="{output.location.hasAccess}">
                <li>
                    <f:link.action pageUid="{settings.pageIds.editLocation}" class="btn btn-primary"  action="edit" controller="Location" arguments="{location: output.location.locationId}">
                        <span class="fa fa-4x fa-edit">
                            <span class="hidden-xs">Edit Location</span>
                        </span>
                    </f:link.action>
                </li>
        </f:if>
        <f:if condition="{output.organizer.hasAccess}">
            <li>
                <f:link.action pageUid="{settings.pageIds.editOrganizer}" class="btn btn-primary"  action="edit" controller="Organizer" arguments="{organizer: output.organizer.organizerId}">
                        <span class="fa fa-4x fa-edit">
                            <span class="hidden-xs">Edit organizer</span>
                        </span>
                </f:link.action>
            </li>
        </f:if>

    <f:if condition="{output.event.hasAccess} || {output.location.hasAccess} || {output.organizer.hasAccess} ">
        </ul>
    </f:if>

</f:section>