
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Registrant</h1>

<f:flashMessages />

<table  class="tx_jvevents" >
	<tr>
		<th><f:translate key="tx_jvevents_domain_model_registrant.first_name" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.last_name" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.email" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.gender" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.company" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.department" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.street_and_nr" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.zip" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.city" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.country" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.language" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.phone" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.additional_info" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.privacy" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.newsletter" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.customer_id" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.profession" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.recall" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.contact_id" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.username" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more1" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more2" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more3" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more4" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more5bool" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more6int" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more7date" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.more8file" /></th>
		<th><f:translate key="tx_jvevents_domain_model_registrant.password" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{registrants}" as="-Undefined-And-unfinished">
		<tr>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.lastName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.gender}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.company}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.department}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.streetAndNr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.zip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.country}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.language}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.additionalInfo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.privacy}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.newsletter}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.customerId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.profession}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.recall}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.contactId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.username}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more3}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more4}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more5bool}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more6int}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more7date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.more8file.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{registrant : registrant}"> {registrant.password}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{registrant : registrant}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{registrant : registrant}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>
