
<f:layout name="Default" />


<f:section name="main">
	<f:flashMessages />
	<f:render partial="Debug/CheckInstallation" arguments="{modulelist: 'FALSE' , event: event, settings: settings}" />

	<f:comment> Render the Confirmation for the Registration </f:comment>
	<div class="jv_vents_{settings.LayoutSingle}"	>
	<f:render partial="Registrant/Partial{settings.LayoutSingle}/Create"
		arguments="{event: event, registrant: registrant, hash: hash, settings: settings, otherEvents: otherEvents}"/>
	</div>
</f:section>