
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
	<f:comment> Render the minimal Infos about the Event </f:comment>
	<f:render partial="Event/Single/Partial{settings.LayoutSingle}/Minimal"
			  arguments="{event: event, settings: settings}"/>

	<f:comment> Render the Registration Form for the Event </f:comment>

	<f:if condition="{event.isRegistrationPossible}">
		<f:then>
			<f:render partial="Registrant/Partial{settings.LayoutRegister}/Form"
					  arguments="{event: event, settings: settings, hash: hash,  otherEvents: otherEvents}"/>
		</f:then>
		<f:else>

			<f:if condition="{event.isNoFreeSeats}">
				<f:then>
					<h4>{f:translate(key:'LLL:EXT:jv_events/Resources/Private/Language/locallang.xlf:register.overbooked_headline' , default:'+++overbooked+++')}</h4>
					<p>{f:translate(key:'LLL:EXT:jv_events/Resources/Private/Language/locallang.xlf:register.overbooked_text' , default:'No free seats available')}</p>
				</f:then>
				<f:else>
					<h4>{f:translate(key:'LLL:EXT:jv_events/Resources/Private/Language/locallang.xlf:register.registration_not_possible_text' , default:'Error')}</h4>
					<p>{f:translate(key:'LLL:EXT:jv_events/Resources/Private/Language/locallang.xlf:register.deadline_expired_text' , default:'Registration deadline has expired ')}</p>

				</f:else>
			</f:if>

		</f:else>
	</f:if>

</f:section>