{namespace vhs=FluidTYPO3\Vhs\ViewHelpers\Page}
{namespace jve=JVE\JvEvents\ViewHelpers}

	<button data-toggle="modal" data-target="#HelpModal" class="btn btn-primary btn-xs " href="#">
		<i class="fas fa-question-circle "> </i> <span class="d-md-inline">Hilfe</span>
	</button>


	<f:render section="{section}" arguments="{section: 'organizer', object: object , settings: settings , user: user}" />



<f:section name="organizer">

	<f:variable name="helpModalBody">
		<f:format.raw>
			<f:spaceless>
				Bevor man Termine eintragen kann, muss man vom Webmaster freigeschaltet werden. <br>
				Dann kann man als <b>einen</b> Veranstalter Datensatz pflegen. <br><br>
				Wenn der Veranstalter bereits in der Liste exisitert, bitte den Webmaster kontaktieren, um dafür freigeschaltet zu werden, <b>nicht</b> einfach einen neuen anlegen!
				Das bedeutet auch: Wenn mehrere Personen die Termine des Veranstalters pflegen sollen, kann, nach Freischaltung, jeder seinen <b>eigenen</b>b> Zugang nutzen.
				<br>
				Ein derartiger  Veranstalter kann mehrere Locations (Veranstaltungsorte) und die dort stattfindenden Termine pflegen.<br>
				<br>
				Derzeit gibt es <b>keine Möglichkeit</b> wiederkehrendende Termine einzutragen. Aber man kann recht einfach einen Termin <b>kopieren</b>. Auch im voraus für mehrere Wochen.<br>
				<br>
				<br>
				... mehr Hilfe ist in Arbeit....
			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:variable name="helpModalFooter">
		<f:format.raw>
			<f:spaceless>
				Your ID: U-{user}-O-{organizer.uid}-P-{organizer.pid}
			</f:spaceless>
		</f:format.raw>
	</f:variable>


	<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />





</f:section>

<f:section name="location">


	<f:variable name="helpModalBody">
		<f:format.raw>
			<f:spaceless>
				nur Geduld .. hier gibt es irgendwann die Hilfe Texte ..


			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:variable name="helpModalFooter">
		<f:format.raw>
			<f:spaceless>
				Uid: {user} | LocationId: {object.uid}<br>
			</f:spaceless>
		</f:format.raw>
	</f:variable>


	<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />



</f:section>

<f:section name="event">
	<f:variable name="uri"><vhs:absoluteUrl></vhs:absoluteUrl></f:variable>
	<f:variable name="helpModalBody">
		<f:format.raw>
			<f:spaceless>
				nur Geduld .. hier gibt es irgendwann die Hilfe Texte ..<br>
				<f:render partial="Helper/Bootstrap4/Share"  arguments="{object: 'event', event: event, uri: uri, uids: 'User: {user} | Event: {object.uid} | LocationId: {object.location.uid}', settings: settings}"></f:render>

			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:variable name="helpModalFooter">
		<f:format.raw>
			<f:spaceless>
				User: {user} | Event: {object.uid} | LocationId: {object.location.uid}<br>
			</f:spaceless>
		</f:format.raw>
	</f:variable>


	<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />


</f:section>