{namespace vhs=FluidTYPO3\Vhs\ViewHelpers\Page}
{namespace jve=JVelletti\JvEvents\ViewHelpers}

	<button data-toggle="modal" data-target="#HelpModal" class="btn btn-primary btn-xs " href="#">
		<i class="fas fa-question-circle "> </i> <span class="d-md-inline">Hilfe</span>
	</button>


	<f:render section="{section}" arguments="{section: 'organizer', object: object , settings: settings , user: user}" />



<f:section name="organizer">

	<f:variable name="helpModalBody">
		<f:format.raw>
			<f:spaceless>
				<f:if condition="{settings.help.organizer.pid}">
					Siehe unsere Hilfe Seiten und die Tipps zum Hochladen von Bildern
					<br>
					<br>
					<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.organizer.pid}"
								 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.organizer.faqId}'}">
						Hilfe Seiten
					</f:link.page>
				</f:if>
				<f:if condition="{settings.help.image.pid}">
					<f:link.page class="ml-2 btn btn-outline-primary" pageUid="{settings.help.image.pid}"
								 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.image.faqId}'}">
						Hochladen von Bildern
					</f:link.page>
				</f:if>
				<br><br>
				<f:if condition="{object.uid}">
					<f:then>
						<f:if condition="{object.hidden}">
							<f:then>
								<f:variable name="orgStatus">unconfirmed</f:variable>
							</f:then>
							<f:else>
								<f:variable name="orgStatus">Active</f:variable>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:variable name="orgStatus">Not Organizer yet</f:variable>
					</f:else>
				</f:if>
				Wenn dort keine passende Antwort zu finden ist, uns per E-Mail kontaktieren und die nachfolgenden  ID-Informationen mitsenden:<br>
				User: {user} | Organizer: {object.uid} | Status: {orgStatus} | Pid: {object.pid}<br>
			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:variable name="helpModalFooter">
		<f:format.raw>
			<f:spaceless>
				&nbsp;
			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />
</f:section>

<f:section name="location">
	<f:variable name="helpModalBody">
		<f:format.raw>
			<f:spaceless>
				Siehe unsere
				<br>
				<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.location.pid}"
							 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.location.faqId}'}">
					Hilfe Seiten
				</f:link.page>
				<f:if condition="{settings.help.image.pid}">
					<br><br>und die Tipps zum
					<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.image.pid}"
								 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.image.faqId}'}">
						Hochladen von Bildern
					</f:link.page>
				</f:if>
				<br><br>
				Wenn dort keine passende Antwort zu finden ist, uns per E-Mail kontaktieren und die nachfolgenden  ID-Informationen mitsenden:<br>
				User: {user} | LocationId: {object.uid}<br>
			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:variable name="helpModalFooter">
		<f:format.raw>
			<f:spaceless>
				&nbsp;
			</f:spaceless>
		</f:format.raw>
	</f:variable>


	<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />



</f:section>

<f:section name="event">
	<f:variable name="uri"><vhs:absoluteUrl></vhs:absoluteUrl></f:variable>
	<f:variable name="helpModalBody">
		<f:format.raw>
			<f:spaceless>
				Siehe unsere
				<br>
				<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.event.pid}"
							 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.event.faqId}'}">
					Hilfe Seiten
				</f:link.page>
				<f:if condition="{settings.help.image.pid}">
					<br><br>und die Tipps zum
					<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.image.pid}"
								 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.image.faqId}'}">
						Hochladen von Bildern
					</f:link.page>
				</f:if>
				<br><br>
				Wenn dort keine passende Antwort zu finden ist, uns per E-Mail kontaktieren und die nachfolgenden  ID-Informationen mitsenden:<br>
				User: {user} | Event: {object.uid} | LocationId: {object.location.uid}<br>
			</f:spaceless>
		</f:format.raw>
	</f:variable>
	<f:variable name="helpModalFooter">
		<f:format.raw>
			<f:spaceless>
				&nbsp;
			</f:spaceless>
		</f:format.raw>
	</f:variable>


	<f:section name="media">
		<f:variable name="helpModalBody">
			<f:format.raw>
				<f:spaceless>
					Siehe unsere
					<br>
					<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.location.pid}"
								 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.media.faqId}'}">
						Hilfe Seiten
					</f:link.page>
					<f:if condition="{settings.help.image.pid}">
						<br><br>und die Tipps zum
						<f:link.page class="btn btn-outline-primary" pageUid="{settings.help.image.pid}"
									 additionalParams="{'&tx_maritfaq_pi1[FaqID]': '{settings.help.image.faqId}'}">
							Hochladen von Bildern
						</f:link.page>
					</f:if>
					<br><br>
					Wenn dort keine passende Antwort zu finden ist, uns per E-Mail kontaktieren und die nachfolgenden  ID-Informationen mitsenden:<br>
					User: {user} | LocationId: {object.uid}<br>
				</f:spaceless>
			</f:format.raw>
		</f:variable>
		<f:variable name="helpModalFooter">
			<f:format.raw>
				<f:spaceless>
					&nbsp;
				</f:spaceless>
			</f:format.raw>
		</f:variable>


		<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />



	</f:section>


	<f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'HelpModal', 'modalTitle': 'Help', 'modalBody': helpModalBody,'modalFooter': helpModalFooter,  'settings': settings}" />


</f:section>