<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Partial form error template of registration</title>
</head>
<body>
<f:section name="Main">
	<f:form.validationResults for="{for}">
		<f:if condition="{validationResults.flattenedErrors}">
			<div class="alert alert-warning">
					<h3>{f:translate(key: 'register_send_error')}</h3>
					<ul>
						<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="propertyErrors">
							<f:for each="{propertyErrors}" as="propertyError">
								<li>
									{f:translate(key: 'tx_jvevents_domain_model_registrant.{propertyPath}')}  -> ({propertyError.message})
								</li>
							</f:for>
						</f:for>
					</ul>
			</div>

			<br/>
		</f:if>
	</f:form.validationResults>
</f:section>
</body>
</html>