{namespace JVE=JVelletti\JvEvents\ViewHelpers}

<f:if condition="{NoGoogleApiKeyDefined}">
	<div class="alert alert-warning">
		<strong style="color:red;">No Google Api Key in extension configuration defined!</strong>
	</div>
</f:if>

<div id="map" style="height:500px;"></div>


<script type="text/javascript" src="/typo3conf/ext/jv_events/Resources/Public/JavaScript/googleMaps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={settings.EmConfiguration.googleApiKey}&callback=initMap"></script>
<script type="text/javascript">

	var addresses = [];

	<f:for each="{addresses}" as="address">
		<f:if condition="{0: address.longitude, 1: address.latitude}">
			var currentAddress = [];
			currentAddress['uid'] = '<JVE:CleanJsString>{address.uid}</JVE:CleanJsString>';
			currentAddress['address'] = '<JVE:CleanJsString>{address.country.shortNameEn}, {address.zip} {address.city}, {address.street_and_nr}</JVE:CleanJsString>';
			currentAddress['title'] = '<JVE:CleanJsString>{address.company}</JVE:CleanJsString>';
			currentAddress['markerText'] = '<JVE:CleanJsString><h3>{address.company}</h3><p>{address.address}<br>{address.zip} {address.city}<br>{address.country.shortNameEn}</p></JVE:CleanJsString>';
			currentAddress['lng'] = {address.lng};
			currentAddress['lat'] = {address.lat};
			addresses.push(currentAddress);
		</f:if>
	</f:for>

</script>
