

<f:render partial="SingleField/FormRowDefault"
		  arguments="{object: 'organizer', property:'name' , errorProperty: 'organizer.name' , label: '' , translationKey: 'tx_jvevents_domain_model_organizer.name' , maxLength: 30 , mandatory: '1' }" />
<f:render partial="SingleField/FormRowDefault"
		  arguments="{object: 'organizer', property:'email' , errorProperty: 'organizer.email' , label: '' , translationKey: 'tx_jvevents_domain_model_organizer.email' ,  maxLength: 80 , mandatory: '1' }" />
<f:render partial="SingleField/FormRowDefault"
		  arguments="{object: 'organizer', property:'phone' , errorProperty: 'organizer.phone' , label: '' , translationKey: 'tx_jvevents_domain_model_organizer.phone' ,  maxLength: 30 , mandatory: '1' }" />
<f:render partial="SingleField/FormRowDefault"
		  arguments="{object: 'organizer', property:'link' , errorProperty: 'organizer.link' , label: '' , translationKey: 'tx_jvevents_domain_model_organizer.link' ,  maxLength: 80 , mandatory: false }" />

<f:render partial="SingleField/FormRowRte"
		  arguments="{object: 'organizer', property:'description' , errorProperty: 'organizer.description' , label: '' , translationKey: 'tx_jvevents_domain_model_organizer.description' , mandatory: false }" />

