<f:if condition="{settings.ccsFile}">
	<style type="text/css"> @import url("{settings.ccsFile}");

	</style>

</f:if>
<script>
    var CKEDITOR_BASEPATH = '/typo3conf/ext/jv_events/Resources/Public/Javascript/ckeditor/';
</script>
<script type="text/javascript" src="/typo3conf/ext/jv_events/Resources/Public/Javascript/ckeditor/ckeditor.js"></script>



<div class="tx-jv-events">
	<div class="alert alert-warning js-warning-disabled">Warning: If this message does not disapear automatically, you have javascript diabled (or we have an javascript error). <br>This website does not work properly, if javascript is disabled.</div>
	<f:render section="main" />
</div>