
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Event</h1>

<f:flashMessages />

<table  class="tx_jvevents" >
	<tr>
		<th><f:translate key="tx_jvevents_domain_model_event.event_type" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.name" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.teaser" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.description" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.images" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.files" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.all_day" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.start_date" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.start_time" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.end_date" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.end_time" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.access" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.with_registration" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.registration_until" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.registration_access" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.store_in_citrix" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.citrix_uid" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.store_in_sales_force" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.marketing_process_id" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.sales_force_record_type" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.sales_force_event_id" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.sales_force_session_id" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.available_seats" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.registered_seats" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.unconfirmed_seats" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.notify_organizer" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.notify_registrant" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.subject_organizer" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.text_organizer" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.subject_registrant" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.text_registrant" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.need_to_confirm" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.is_recurring" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.frequency" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.freq_exception" /></th>
		<th><f:translate key="tx_jvevents_domain_model_event.is_exception_for" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td><f:link.action action="show" arguments="{event : event}"> {event.eventType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.teaser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.images.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.files.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.allDay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.startDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.startTime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.endDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.endTime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.access}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.withRegistration}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.registrationUntil -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.registrationAccess}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.storeInCitrix}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.citrixUid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.storeInSalesForce}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.marketingProcessId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.salesForceRecordType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.salesForceEventId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.salesForceSessionId -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.availableSeats}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.registeredSeats}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.unconfirmedSeats -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.notifyOrganiser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.notifyRegistrant}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.subjectOrganizer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.textOrganizer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.subjectRegistrant}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.textRegistrant}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.needToConfirm}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.isRecurring}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.frequency}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.freqException}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.isExceptionFor}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Event</f:link.action>
</f:section>