{namespace jve=JVelletti\JvEvents\ViewHelpers}


<div class="form-group display-data">
    <f:variable name="propertyName">{object}.{property}</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName}"/>
    <f:variable name="propertyName2">{object}.{property2}</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName2}"/>


    <label class="control-label col-sm-4">
        <span class="btn btn-primary" onclick="findAddress({'address': updateAddressFromFields() }); " >
            <i class="{fa-icon}"></i>
            <f:if condition="{translationKey}">
                <f:then>
                    <f:translate key="{translationKey}">{translationKey}</f:translate>
                </f:then>
                <f:else>
                    {label}
                </f:else>
            </f:if>
        </span>

    </label>
    <div class="col-sm-4">
        <div class="input-group " >
            <f:form.textfield class="form-control" readonly="readonly" property="{property}" id="{property}" maxlength="{maxLength}"/>
            <div class="input-group-addon ">
                LNG
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group  ">
            <f:form.textfield class="form-control" readonly="readonly" property="{property2}" id="{property2}" maxlength="{maxLength}"/>
            <div class="input-group-addon ">
                LAT
            </div>
        </div>

    </div>
</div>
<div id="map" style="height:500px;"></div>
<jve:geocoder location="{location}">

</jve:geocoder>