{namespace event=JVelletti\JvEvents\ViewHelpers}

<f:be.security.ifAuthenticated>
	<f:then>
		<f:render partial="Registrant/RegistrationsLink"  arguments="{event: event, hash: hash, settings: settings}"/>
	</f:then>
	<f:else>
		<f:if condition="{settings.fe_user.organizer.showTools}">
			<f:then>
				<f:render partial="Registrant/RegistrationsLink"  arguments="{event: event, hash: hash, settings: settings}"/>
			</f:then>
		</f:if>
	</f:else>
</f:be.security.ifAuthenticated>

<f:form action="create" class="jv-events-regform" name="registrant" object="{registrant}" enctype="multipart/form-data">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'registrant'}" />
	<f:render partial="FormOtherErrors" section="Main" arguments="{for: 'event' ,field: 'uid'}" />


	<f:form.hidden class="hidden d-none" name="event" value="{event.uid}" />
	<f:form.textfield class="hidden d-none" property="layoutRegister" value="{settings.LayoutRegister}" />
	<f:form.textfield class="hidden d-none" property="event" value="{event.uid}" />


	<f:if condition="{otherEvents}">
		<div class="alert alert-light">

			<h4>Auch für diese Veranstaltungen anmelden (Blockbuchung '{event.eventCategory.0.title}'):</h4>
			<div class="row mt-2">
				<f:for each="{otherEvents}" as="otherEvent" iteration="iteration">
					<f:if condition="{otherEvent.isRegistrationPossible}">
						<f:then>
							<div class="col-1">
								<f:form.checkbox class="checkbox" id="jv_events_other_events_{otherEvent.uid}" name="jv_events_other_events[{otherEvent.uid}]" value="{otherEvent.uid}" checked=""/>
							</div>
							<div class="col-11">
								<label for="jv_events_other_events_{otherEvent.uid}">
									{otherEvent.startDate -> f:format.date(format:"d.m.Y")}: {otherEvent.name} ({otherEvent.location.name})
								</label>
							</div>

						</f:then>
						<f:else>
							<div class="col-1">
								&nbsp;
							</div>
							<div class="col-11">
								{otherEvent.startDate -> f:format.date(format:"d.m.Y")}: {otherEvent.name} : -Ausgebucht-!
							</div>
						</f:else>

					</f:if>
				</f:for>
			</div>
		</div>
	</f:if>
	<div class="row-fluid clearfix">

		<div id="jv_events_js_error" class="hidden d-none">
			<div class="alert alert-warning">
				{f:translate(key: 'register_send_error' , default: 'Some required Fields are empty')}
			</div>
		</div>
		<div class="clearfix row">
			<div class="col-12">
				<h3>{f:translate(key: 'register_head_participant_data' , default:'Participants Data')}</h3>
			</div>
		</div>

		<div class="clearfix hidden d-none">
			<f:comment><!-- three spam and xss protection fields  //--></f:comment>
			<f:form.textfield class="hidden d-none" property="startReg" value="{settings.startReg}" />
			<f:form.textfield class="hidden d-none" name="formToken" value="{settings.formToken}" />
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.hotprice', FieldName : 'hotprice' , settings: settings , cols: 'col-sm-12' , required: '{f:if(condition: \'{settings.register.required.hotPrice}\' , then: \'TRUE\')}'}"/>
		</div>

		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowGender" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.gender', FieldName : 'gender' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.gender}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.title', FieldName : 'title' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.title}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.first_name', FieldName : 'firstName' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.firstName}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.last_name', FieldName : 'lastName' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.lastName}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.email', FieldName : 'email' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.email}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.phone', FieldName : 'phone' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.phone}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.profession', FieldName : 'profession' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.profession}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: FALSE,label: 'Megra Mitgliedsnummer', FieldName : 'contactId' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.contactId}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix">
			<f:if condition="{settings.register.attachments.enabled}">
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowCheckMember" arguments="{settings: settings}"/>
			</f:if>
		</div>
		<div class="clearfix row">
			&nbsp;
		</div>
		<div class="row">
			<div class="col-12">
				<h3>Firmendaten</h3>
			</div>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.company', FieldName : 'company' , settings: settings , cols: 'col-sm-12' ,  required: '{f:if(condition: \'{settings.register.required.company}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.department', FieldName : 'department' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.department}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.street_and_nr', FieldName : 'streetAndNr' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.streetAndNr}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.zip', FieldName : 'zip' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.zip}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.city', FieldName : 'city' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.city}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowCountry" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.country', FieldName : 'country' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.country}\' , then: \'TRUE\')}'}"/>
		</div>

		<div class="row">
			<div class="col-12">
				<br />
				<h3>Abweichende Rechnungsanschrift (falls nötig)</h3>
			</div>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.company', FieldName : 'company2' , settings: settings , cols: 'col-sm-12' ,  required: '{f:if(condition: \'{settings.register.required.company2}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.department', FieldName : 'department2' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.department2}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.street_and_nr', FieldName : 'streetAndNr2' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.streetAndNr2}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.zip', FieldName : 'zip2' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.zip2}\' , then: \'TRUE\')}'}"/>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.city', FieldName : 'city2' , settings: settings , cols: 'col-sm-6' , required: '{f:if(condition: \'{settings.register.required.city2}\' , then: \'TRUE\')}'}"/>
		</div>
		<div class="clearfix row">
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.country',   label2: '(3 Buchstaben Code)' ,
			FieldName : 'country2' , settings: settings , cols: 'col-sm-6' , maxlength: '3',
			required: '{f:if(condition: \'{settings.register.required.country2}\' , then: \'TRUE\')}'}"/>
		</div>

		<div class="clearfix row">
			&nbsp;
		</div>
		<div class="clearfix row">
			<div class="col-12">
				<h3>{f:translate(key: 'register_head_more_info' , default:'Additional Infos')}</h3>
			</div>
			<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRow" arguments="{translate: 'TRUE',label: 'tx_jvevents_domain_model_registrant.additional_info', FieldName : 'additionalInfo' , settings: settings , cols: 'col-sm-12' , textarea: '1' , required: '{f:if(condition: \'{settings.register.required.additionalInfo}\' , then: \'TRUE\')}'}"/>
		</div>
		<f:if condition="{settings.register.required.privacy}">
			<div class="clearfix row">
				<f:render partial="Registrant/Partial{settings.LayoutSingle}/FormRowCheckPrivacy" arguments="{FieldName : 'privacy' , settings: settings , cols: 'col-sm-12'}"/>
			</div>
		</f:if>
		<div class="clearfix text-right col-12">
			<span class="btn btn-primary" onclick="jv_events_submit()">
				{f:translate(key: 'register_send' , default:'Register')}
			</span>

		</div>





	</div>
</f:form>
