

{namespace jve=JVE\JvEvents\ViewHelpers}
<f:variable name="uri"><jve:link uriOnly="true" eventId="{output.event.eventId}" withProtocol="true" settings="{settings}" configuration="{useCacheHash: 0 }"></jve:link></f:variable>

    <div class="d-inline-flex float-right">

        <!--  ################# the third nav  loaded via AJAX to #jvEventsAjaxSingleMenu  - for Organizer   ##################### //-->
        <f:if condition="{output.event.hasAccess}">
            <f:if condition="{settings.pageIds.editEvent}">

                <f:link.action pageUid="{settings.pageIds.editEvent}" class="nav-link  px-1" title="Edit Event" action="edit" controller="Event"  pluginName="Events" arguments="{event: output.event.eventId}">
                    <button class="btn btn-outline-primary btn-sm rounded-circle" href="#">
                        <i class="fas fa-edit "></i>
                    </button>
                    <span class="d-none d-md-inline-block">edit</span>
                </f:link.action>



                <span class="nav-link d-inline-block px-1" title="copy Event" >
                    <button data-toggle="modal" data-target="#eventCopyModal-{output.event.eventId}" class="btn btn-outline-primary btn-sm rounded-circle" href="#">
                        <i class="fas fa-copy "></i>
                    </button>
                    <span class="d-none d-md-inline-block">copy Event</span>
                </span>


                <f:link.action id="jv-events-cancelEvent-link" absolute="true" noCacheHash="true" pageUid="{settings.pageIds.editEvent}" class="nav-link  px-1" title="Cancel Event" action="cancel" controller="Event"  pluginName="Events" arguments="{event: output.event.eventId}">
                    <input id="jv-events-cancelEvent"   type="checkbox" {f:if(condition: '{output.event.canceled}' , else : 'checked' )} data-size="small" data-onstyle="primary" data-offstyle="secondary" data-toggle="toggle" data-style="ios " data-on="{f:if(condition: '{output.event.canceled}' , else: 'ON' , then: '..' )}" data-off="{f:if(condition: '{output.event.canceled}' , then:'Off' , else: '..' )}">
                </f:link.action>

                <span class="nav-link d-inline-block px-1" title="delete Event" >
                    <button data-toggle="modal" data-target="#eventDeleteModal-{output.event.uid}" class="btn btn-outline-primary btn-sm rounded-circle" href="#">
                        <i class="fas fa-trash "></i>
                    </button>
                    <span class="d-none d-md-inline-block">delete</span>
                </span>


                <span class="nav-link d-inline-block px-1 " title="more" >
                    <button data-toggle="modal" data-target="#eventMoreModal-{output.event.uid}" class="btn btn-outline-primary btn-sm rounded-circle" href="#">
                        <i class="fas fa-bars "></i>
                    </button>
                </span>
                <f:variable name="copyModalBodyDisable">
                    <f:format.raw>

                        SORRY - Copy Events Feature is broken in the Moment. Be patient. soon again online

                    </f:format.raw>


                </f:variable>
                <f:variable name="copyModalBody">
                     <f:format.raw>
                         <f:spaceless>

                             <div class="row">

                                 <div class="col-6">
                                     <f:translate key="event_copy_one">Create one Copy</f:translate>
                                 </div>
                                 <div class="col-6">
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '0', amount: '1' , msgtext: 'beliebiges Datum'}" />
                                 </div>
                                 <hr />
                                 <h3 class="mx-3 mt-4"><f:translate key="event_copy_eventseries" default="Regelmäßige Termine"/></h3>

                                 <div class="col-12 pb-4">
                                     <f:translate key="event_copy_intro">
                                         Wenn du einen Termin kopierst, können Änderungen auch automatisch an dem/den anderen Termin(en) übernommen werden. Damit kann man somit regelmäßig stattfindende Termine einfach pflegen.
                                     </f:translate><br><br>
                                     <f:translate key="event_copy_intro2">
                                         Inhaltlich unterschiedliche Termine (z.b. verschiedene Kursarten oder Uhrzeiten) sollten deshalb nicht durch die nachfolgenden Buttons erstellt werden.
                                     </f:translate>
                                 </div>
                                 <div class="col-12">
                                     <b><f:translate key="event_copy_one_linked">Single Copy (linked)</f:translate></b>
                                     <br>
                                     <f:render arguments="{eventId: output.event.eventId, copy2Day: '1', amount: '1' , msgtext: '+1 Day'}" section="renderCopyLink" />
                                     <f:render arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '1' , msgtext: '+7 Days'}" section="renderCopyLink" />
                                     <f:render arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '1' , msgtext: '+14 Days'}" section="renderCopyLink" />
                                     <f:render arguments="{eventId: output.event.eventId, copy2Day: '28', amount: '1' , msgtext: '+28 Days'}" section="renderCopyLink" />
                                 </div>
                                 <div class="col-12">
                                     <b><f:translate key="event_copy_multi">Copy multiple weekly</f:translate></b>
                                     <br>
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '2' , msgtext: '2'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '3' , msgtext: '3'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '4' , msgtext: '4'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '5' , msgtext: '5'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '6' , msgtext: '6'}" />

                                 </div>
                                  <div class="col-12">
                                      <br>
                                      <b><f:translate key="event_copy_multi2weeks">Copy multiple every 14 days</f:translate></b>
                                      <br>
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '2' , msgtext: '2'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '3' , msgtext: '3'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '4' , msgtext: '4'}" />
                                      <br>
                                  </div>
                             </div>

                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:variable name="copyModalFooter">
                    <f:format.raw>
                        <f:spaceless>
                            <f:link.page pageUid="60" class="btn btn-secondary position-left mx-4 small" target="_blank"><f:translate key="general_see_help">Siehe Hilfe Seiten</f:translate></f:link.page>
                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'eventCopyModal-{output.event.eventId}', 'modalTitle': 'Copy Event', 'modalBody': copyModalBody,'modalFooter': copyModalFooter,  'settings': settings}" />


                <f:variable name="deleteModalBody">
                     <f:format.raw>
                         <f:spaceless>
                             <f:translate key="event_delete_question">
                                 This will delete the event without info.
                             </f:translate><br>
                             <f:if condition="{output.event.masterId}">
                                 <b>
                                     <f:translate key="event_delete_question_SameMaster" arguments="{0: output.event.sameMasterId}">
                                         <br>
                                         Also delete the {output.event.sameMasterId} following copies of this event?

                                     </f:translate>
                                     <f:form.checkbox class="ml-3" name="jv_events_deleteFutureEvents"  value="1" onclick="$('#jv_events_delete_btn').toggle();$('#jv_events_delete_btn_all').toggle();"/><br><br>

                                 </b>
                             </f:if>
                             <f:translate key="event_delete_are_you_sure">
                                 Are you sure?
                             </f:translate><br>
                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:variable name="deleteModalFooter">
                    <f:format.raw>
                        <f:spaceless>
                            <f:link.action id="jv_events_delete_btn" pageUid="{settings.pageIds.editEvent}"  noCacheHash="true" class="nav-link" title="delete Event" action="delete" controller="Event" pluginName="Events"  arguments="{event: output.event.eventId , deleteFutureEvents: 0}">
                                <button class="btn btn-primary btn-sm " href="#">
                                    <i class="fas fa-trash "></i> <span class="mx-1">
                                    <f:translate key="event_delete_really_button">
                                        Delete really!
                                    </f:translate></span>
                                </button>
                            </f:link.action>
                            <f:link.action id="jv_events_delete_btn_all" pageUid="{settings.pageIds.editEvent}" style="display:none;" noCacheHash="true" class="nav-link" title="delete Event" action="delete" controller="Event"  pluginName="Events" arguments="{event: output.event.eventId , deleteFutureEvents: 1}">
                                <button class="btn btn-primary btn-sm " href="#">
                                    <i class="fas fa-trash "></i> {output.event.sameMasterId}x <span class="mx-1"><f:translate key="event_delete_really_button">
                                 Delete really!
                             </f:translate></span>
                                </button>
                            </f:link.action>
                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'eventDeleteModal-{output.event.uid}', 'modalTitle': 'Delete Event', 'modalBody': deleteModalBody,'modalFooter': deleteModalFooter,  'settings': settings}" />

                <f:variable name="moreModalBody">
                    <f:format.raw>
                        <f:spaceless>
                            <div class="row">
                                <div class="col-12 pt-2">

                                    <f:link.page pageUid="{settings.pageIds.showEventDetail}" title="Registations for Event" noCache="true" noCacheHash="true" class="btn btn-outline-primary x-1   w-100 text-left"
                                                 additionalParams="{tx_jvevents_events: {action: 'list', controller: 'Registrant' , pluginName: 'Events',  event: '{output.event.eventId}', hash: '{settings.hash}' , export: '0'}}">
                                        <button class="btn btn-outline-primary btn-sm rounded-circle mr-2" href="#">
                                            <i class="fas fa-users"></i>
                                        </button>
                                        <span class="">{output.event.registration.registeredSeats}<f:if condition="{output.event.registration.unconfirmedSeats}"> <span title="{f:translate(key:'tx_jvevents_domain_model_event.available_waiting_seats' , default:'')}"> (+{output.event.registration.unconfirmedSeats})</span></f:if> <f:translate key="registrations" default="Anmeldungen"/></span>
                                     </f:link.page>
                                </div>
                                <div class="col-12 pt-2">
                                    <f:if condition="{settings.pageIds.addMedia}">
                                        <f:link.page pageUid="{settings.pageIds.addMedia}" noCache="true" class="btn btn-outline-primary x-1  w-100 text-left" title="Add Teaser Image to Event" additionalParams="{tx_jvmediaconnector_connector: {action: 'list', controller: 'Media', pluginName: 'Events' ,  reference: {id: output.event.eventId, table: 'tx_jvevents_domain_model_event' , fieldname: 'teaser_image' , maxRelations: '1' , returnPid: output.returnPid , returnArray: {tx_jvevents_events: {action: 'show', event: output.event.eventId }}}}}">
                                            <button class="btn btn-outline-primary btn-sm rounded-circle mr-2" href="#">
                                                <i class="fas fa-image"></i>
                                            </button>
                                            <f:if condition="{output.event.TeaserImageFrom} ==  'Event'">
                                                <f:then>
                                                    Change Image
                                                </f:then>
                                                <f:else>
                                                    Add Image
                                                </f:else>
                                            </f:if>
                                        </f:link.page>
                                    </f:if>
                                </div>
                                <div class="col-12 pt-2">
                                    <span class="btn btn-outline-primary x-1 w-100 text-left"  >
                                         <button class="btn btn-outline-primary btn-sm rounded-circle mr-2" href="#">
                                                <i class="fas fa-eye"></i>
                                            </button> Event was shown {output.event.viewed} times
                                    </span>
                                </div>

                                <div class="col-12 pt-2">


                                            <f:security.ifHasRole role="adminOrganizer">
                                                <f:then>
                                                    <f:link.page pageUid="{settings.pageIds.bannerModul}" noCache="true" class="btn btn-outline-primary x-1 mb-1 w-100 text-left" title="Add Banner for Event Normmal ( 8 days before event)"
                                                                 additionalParams="{tx_jvbanners_connector: {action: 'create', controller: 'Connector' , pluginName: 'Events',  event: '{output.event.eventId}' , returnPid: '{output.returnPid}'}}">
                                                        <button class="btn btn-outline-primary btn-sm rounded-circle mx-2" href="#">
                                                            <i class="fas fa-star"></i>
                                                        </button>
                                                        <span class="">Banner Normal (8 days before event)</span>
                                                    </f:link.page>

                                                    <f:link.page pageUid="{settings.pageIds.bannerModul}" noCache="true" class="btn btn-sm btn-outline-primary x-1 " title="Add Banner for Event NOW"
                                                                 additionalParams="{tx_jvbanners_connector: {action: 'create', controller: 'Connector' , pluginName: 'Events',startindays: '1',  event: '{output.event.eventId}' , returnPid: '{output.returnPid}'}}">
                                                        <span class="">NOW</span>
                                                    </f:link.page>
                                                    <span class="m-2">in</span>
                                                    <f:for each="{0:2, 1:5, 2:7, 3:14, 4:21 , 5:30}" as="days">
                                                        <f:link.page pageUid="{settings.pageIds.bannerModul}" noCache="true" class="btn btn-sm btn-outline-primary x-1" title="Add Banner for Event in {days} days"
                                                                     additionalParams="{tx_jvbanners_connector: {action: 'create', controller: 'Connector' , pluginName: 'Events',startindays: '{days}',  event: '{output.event.eventId}' , returnPid: '{output.returnPid}'}}">
                                                            <span class="">{days} days</span>
                                                        </f:link.page>
                                                    </f:for>



                                                    <f:if condition="{output.event.banner}">
                                                        <hr>
                                                        <f:if condition="{output.event.banner.active}">
                                                            <f:then>
                                                                <span class="float-right">
                                                                    <f:link.page pageUid="{settings.pageIds.bannerModul}" noCache="true" class="btn btn-outline-primary x-1 mb-1 text-left" title="Stop Banner"
                                                                                 additionalParams="{tx_jvbanners_connector: {action: 'create', controller: 'Connector' , pluginName: 'Events',  event: '{output.event.eventId}', startindays: '-1', returnPid: '{output.returnPid}'}}">
                                                                        <button class="btn btn-outline-primary btn-sm rounded-circle mx-2" href="#">
                                                                            <i class="fas fa-trash"></i>
                                                                        </button>
                                                                        <span class="d-xs-none">Stop</span>
                                                                    </f:link.page>
                                                                </span>
                                                            </f:then>
                                                        </f:if>
                                                        Banner from <f:format.date format="d.M H:i">{output.event.banner.starttime}</f:format.date> - <f:format.date format="d.M H:i">{output.event.banner.endtime}</f:format.date><br>


                                                        Viewed: {output.event.banner.impressions} | Clicks: {output.event.banner.clicks}<br/>

                                                    </f:if>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{output.event.banner}">
                                                        <f:then>
                                                            <hr>
                                                            Banner from <f:format.date format="d.M H:i">{output.event.banner.starttime}</f:format.date> - <f:format.date format="d.M H:i">{output.event.banner.endtime}</f:format.date><br>
                                                            Viewed: {output.event.banner.impressions} | Clicks: {output.event.banner.clicks}<br/>
                                                        </f:then>
                                                        <f:else>
                                                            <hr>Request a Startpage Banner:<hr>
                                                            <f:render partial="Helper/Bootstrap4/Share"  arguments="{object: 'event', reason: 'Please activate Banner!', event: output.event, emailTo: 'info@tangomuenchen.de', uri: uri, uids: 'User: {output.feuser.uid} - {output.feuser.username} | Event: {output.event.eventId} | LocationId: {output.location.locationId}', settings: settings}"></f:render>

                                                        </f:else>
                                                    </f:if>

                                                 </f:else>
                                            </f:security.ifHasRole>

                                </div>
                            </div>


                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:variable name="moreModalFooter">
                    <f:format.raw>
                        <f:spaceless>

                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'eventMoreModal-{output.event.uid}', 'modalTitle': 'More Options', 'modalBody': moreModalBody,'modalFooter': moreModalFooter,  'settings': settings}" />


            </f:if>
        </f:if>
    </div>


<f:section name="renderCopyLink">
    <f:link.action pageUid="{settings.pageIds.editEvent}" class="mr-2" title="copy Event" action="edit" controller="Event"  pluginName="Events"  arguments="{event: eventId, copy2Day: copy2Day, amount: amount}">
        <button class="btn btn-primary btn-sm " href="#">
            <i class="fas fa-copy "></i> <span class="mx-1">{msgtext}</span>
        </button>
    </f:link.action>
</f:section>


