
    <div class="d-inline-flex float-right">

        <!--  ################# the third nav  loaded via AJAX to #jvEventsAjaxSingleMenu  - for Organizer   ##################### //-->
        <f:if condition="{output.event.hasAccess}">
            <f:if condition="{settings.pageIds.editEvent}">

                <f:link.action pageUid="{settings.pageIds.editEvent}" class="nav-link  px-1" title="Edit Event" action="edit" controller="Event" arguments="{event: output.event.eventId}">
                    <button class="btn btn-outline-primary btn-xs rounded-circle" href="#">
                        <i class="fas fa-edit "></i>
                    </button>
                    <span class="d-none d-md-inline-block">edit</span>
                </f:link.action>

                <f:if condition="{settings.pageIds.addMedia}">
                    <f:link.page pageUid="{settings.pageIds.addMedia}" noCache="true" class="nav-link  px-1" title="Add Teaser Image to Event" additionalParams="{tx_jvmediaconnector_connector: {action: 'list', controller: 'Media' ,  reference: {id: output.event.eventId, table: 'tx_jvevents_domain_model_event' , fieldname: 'teaser_image' , maxRelations: '1' , returnPid: output.returnPid , returnArray: {tx_jvevents_events: {action: 'show', event: output.event.eventId }}}}}">
                        <button class="btn btn-outline-primary btn-xs rounded-circle" href="#">
                            <i class="fas fa-image"></i>
                        </button>
                        <span class="d-none d-md-inline-block">Image</span>
                    </f:link.page>
                </f:if>

                <span class="nav-link d-inline-block px-1" title="copy Event" >
                    <button data-toggle="modal" data-target="#eventCopyModal-{output.event.uid}" class="btn btn-outline-primary btn-xs rounded-circle" href="#">
                        <i class="fas fa-copy "></i>
                    </button>
                    <span class="d-none d-md-inline-block">copy Event</span>
                </span>

                <f:link.action id="jv-events-cancelEvent-link" absolute="true" noCacheHash="true" pageUid="{settings.pageIds.editEvent}" class="nav-link  px-1" title="Cancel Event" action="cancel" controller="Event" arguments="{event: output.event.eventId}">
                    <input id="jv-events-cancelEvent"   type="checkbox" {f:if(condition: '{output.event.canceled}' , else : 'checked' )} data-onstyle="primary" data-offstyle="secondary" data-toggle="toggle" data-style="ios " data-on="{f:if(condition: '{output.event.canceled}' , else: 'Active' , then: 'activating ..' )}" data-off="{f:if(condition: '{output.event.canceled}' , then:'Canceled!' , else: 'Canceling ...' )}">
                </f:link.action>

                <span class="nav-link d-inline-block px-1" title="delete Event" >
                    <button data-toggle="modal" data-target="#eventDeleteModal-{output.event.uid}" class="btn btn-outline-primary btn-xs rounded-circle" href="#">
                        <i class="fas fa-trash "></i>
                    </button>
                    <span class="d-none d-md-inline-block">delete</span>
                </span>


                <f:variable name="copyModalBody">
                     <f:format.raw>
                         <f:spaceless>

                             <div class="row">

                                 <div class="col-6">
                                     <f:translate key="event_copy_one">Create one Copy</f:translate>
                                 </div>
                                 <div class="col-6">
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '0', amount: '1' , msgtext: 'beliebiges Datum'}" />
                                 </div>
                                 <hr />
                                 <h3 class="mx-3 mt-4"><f:translate key="event_copy_eventseries" default="Regelmäßige Termine"/></h3>

                                 <div class="col-12 pb-4">
                                     <f:translate key="event_copy_intro">
                                         Wenn du einen Termin kopierst, können Änderungen auch automatisch an dem/den anderen Termin(en) übernommen werden. Damit kann man somit regelmäßig stattfindende Termine einfach pflegen.
                                     </f:translate><br><br>
                                     <f:translate key="event_copy_intro2">
                                         Inhaltlich unterschiedliche Termine (z.b. verschiedene Kursarten oder Uhrzeiten) sollten deshalb nicht durch die unten Buttons erstellt werden.
                                     </f:translate>
                                 </div>
                                 <div class="col-6">
                                     <f:translate key="event_copy_one_linked">Single Copy (linked)</f:translate>
                                 </div>
                                 <div class="col-6">
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '1', amount: '1' , msgtext: '1 Copy'}" />
                                 </div>
                                 <div class="col-12">
                                     <b><f:translate key="event_copy_multi">Copy multiple weekly</f:translate></b>
                                     <br>
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '2' , msgtext: '2'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '3' , msgtext: '3'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '4' , msgtext: '4'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '5' , msgtext: '5'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '7', amount: '6' , msgtext: '6'}" />

                                 </div>
                                  <div class="col-12">
                                      <br>
                                      <b><f:translate key="event_copy_multi2weeks">Copy multiple every 14 days</f:translate></b>
                                      <br>
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '2' , msgtext: '2'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '3' , msgtext: '3'}" />
                                     <f:render section="renderCopyLink" arguments="{eventId: output.event.eventId, copy2Day: '14', amount: '4' , msgtext: '4'}" />
                                      <br>
                                      Jeden 3. Donnerstag / 1. Sonntag im Monat etc Funktion ist geplant ..
                                 </div>
                             </div>

                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:variable name="copyModalFooter">
                    <f:format.raw>
                        <f:spaceless>
                            <f:link.external uri="/de/hilfe.html" class="position-left mx-4 small" target="_blank"><f:translate key="general_see_help">Siehe Hilfe Seiten</f:translate></f:link.external>
                        </f:spaceless>
                    </f:format.raw>
                </f:variable>



                <f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'eventCopyModal-{output.event.uid}', 'modalTitle': 'Copy Event', 'modalBody': copyModalBody,'modalFooter': copyModalFooter,  'settings': settings}" />


                <f:variable name="deleteModalBody">
                     <f:format.raw>
                         <f:spaceless>
                             <f:translate key="event_delete_question">
                                 This will delete the event without info.
                             </f:translate><br>
                             <f:translate key="event_delete_are_you_sure">
                                 Are you sure?
                             </f:translate><br>
                        </f:spaceless>
                    </f:format.raw>
                </f:variable>
                <f:variable name="deleteModalFooter">
                    <f:format.raw>
                        <f:spaceless>
                            <f:link.action pageUid="{settings.pageIds.editEvent}" class="nav-link" title="delete Event" action="delete" controller="Event" arguments="{event: output.event.eventId}">
                                <button class="btn btn-primary btn-xs " href="#">
                                    <i class="fas fa-trash "></i> <span class="mx-1"><f:translate key="event_delete_really_button">
                                 Delete really!
                             </f:translate></span>
                                </button>
                            </f:link.action>
                        </f:spaceless>
                    </f:format.raw>
                </f:variable>



                <f:render partial="Helper/Bootstrap4/Modal" arguments="{'modalId':  'eventDeleteModal-{output.event.uid}', 'modalTitle': 'Delete Event', 'modalBody': deleteModalBody,'modalFooter': deleteModalFooter,  'settings': settings}" />

            </f:if>
        </f:if>
    </div>


<f:section name="renderCopyLink">
    <f:link.action pageUid="{settings.pageIds.editEvent}" class="mr-2" title="copy Event" action="edit" controller="Event" arguments="{event: eventId, copy2Day: copy2Day, amount: amount}">
        <button class="btn btn-primary btn-xs " href="#">
            <i class="fas fa-copy "></i> <span class="mx-1">{msgtext}</span>
        </button>
    </f:link.action>
</f:section>


