
<f:layout name="Edit" />


<f:section name="main">
    <div class="panel panel-primary my-profile-edit" id="my-profile-edit-profiledata">

        <div class="panel-heading">
            <span class="glyphicon glyphicon-edit"></span>
            <span><f:translate key="tx_jvevents_domain_model_organizer">Edit Organizer</f:translate></span>
        </div>

        <div class="panel-body">

            <f:flashMessages />

            <f:render partial="FormErrors" arguments="{object:Organizer}" />


            <f:form class="form-horizontal"  action="update" name="location" object="{location}" id="location_edit">
                <f:render partial="Location/FormFields" arguments="{location:location}" />
                <div class="text-right">
                    <f:form.submit class="btn btn-primary" value="{f:translate(key: 'form.save', default: 'Save')}" />
                </div>
            </f:form>
</f:section>