
<f:layout name="Default" />


<f:section name="main">
    <f:if condition="{settings.LayoutList}">
        <f:then>
            <f:variable name="layoutList">{settings.LayoutList}</f:variable>
        </f:then>
        <f:else>
            <f:variable name="layoutList">5Tango</f:variable>
        </f:else>
    </f:if>
    <f:flashMessages />
    <div class="jv_events_{layoutList} {settings.list.additionalClass}">
        <f:if condition="{locations}">
            <f:then>
                <f:render partial="Location/List/Partial{layoutList}/Header" arguments="{settings: settings}" />
                <f:render partial="Location/List/Partial{layoutList}/Filter" arguments="{locFilter: locFilter, settings: settings}" />

                <f:for each="{locations}" as="location">
                    <f:render partial="Location/List/Partial{layoutList}/SingleLocation" arguments="{location:location, settings: settings}" />
                </f:for>
            </f:then>
        </f:if>
    </div>
</f:section>