
<f:layout name="Edit" />

{namespace jve=JVE\JvEvents\ViewHelpers}
<f:layout name="Edit" />


<f:section name="main">
    <div class="jv_events-eventmenue navbar hide">
        <span class="left"><span class="fa fa-4x fa-spinner"></span></span>
    </div>

    <div class="panel panel-primary my-profile-edit" id="my-profile-edit-profiledata">

        <div class="panel-heading">
            <span class="glyphicon glyphicon-edit"></span>
            <span><f:translate key="tx_jvevents_domain_model_location.createNew">Create New Location</f:translate></span>
        </div>

        <div class="panel-body row">

            <div class="col-sm-4 equalHeight">
                <f:render partial="FeEditHelp" arguments="{section: 'location', object: location , settings: settings , user: user}" />
            </div>
            <div class="col-sm-8 equalHeight">


                <f:render partial="HasFormErrors" arguments="{object:location, debug: 'false' }" />



                <f:form class="form-horizontal"  action="create" name="location" object="{location}" id="location_edit">


                    <f:render partial="Location/FormFields" arguments="{location:location, settings: settings , user: user}" />
                    <div class="text-right">
                        <f:form.submit class="btn btn-primary" value="{f:translate(key: 'form.save', default: 'Save')}" />
                    </div>
                </f:form>

            </div>
        </div>
    </div>
    <script type="application/javascript">
        var locationId = {location.uid} ;

        $(document).ready( function(){
            if( $('.jv_events-eventmenue') ) {
                $.ajax( {
                    url: '/index.php' ,
                    data: 'uid=1&eID=jv_events&L=0&mode=editLocation&tx_jvevents_ajax[mode]=editLocation&tx_jvevents_ajax[location]=' +  locationId + '&tx_jvevents_ajax[action]=eventMenu&tx_jvevents_ajax[controller]=Ajax&' ,
                    before: function() {
                        $('.jv_events-eventmenue').removeClass('hide') ;
                    } ,
                    success: function(response) {
                        $('.jv_events-eventmenue').html( response.html) ;

                    }
                })
            }

        }) ;
    </script>

</f:section>