body{
	padding:20px;

}

#transferGeoData,
#geoseach {
	margin-bottom:10px;
}
#transferGeoData label,
#geoseach  label {
	width:90px;
}
#transferGeoData  input[type=text],
#geoseach  input[type=text]{
	margin-right:15px;
}
#geosearchbox {
	width:550px;
}
#geoseacherrormessage{
	display:none;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 250px;
	width: 400px;
	height: 150px;
	z-index:1000;
}