
<label for="name">
	<f:translate key="tx_jvevents_domain_model_location.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="streetAndNr">
	<f:translate key="tx_jvevents_domain_model_location.street_and_nr" />
</label><br />
	<f:form.textfield property="streetAndNr" /><br />
<label for="zip">
	<f:translate key="tx_jvevents_domain_model_location.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_jvevents_domain_model_location.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="country">
	<f:translate key="tx_jvevents_domain_model_location.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="lng">
	<f:translate key="tx_jvevents_domain_model_location.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="lat">
	<f:translate key="tx_jvevents_domain_model_location.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="link">
	<f:translate key="tx_jvevents_domain_model_location.link" />
</label><br />
	<f:form.textfield property="link" /><br />
<label for="email">
	<f:translate key="tx_jvevents_domain_model_location.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_jvevents_domain_model_location.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="description">
	<f:translate key="tx_jvevents_domain_model_location.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />