
<table class="tx-jv-events" >
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.name" />
		</td>
		<td>
			{location.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.street_and_nr" />
		</td>
		<td>
			{location.streetAndNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.zip" />
		</td>
		<td>
			{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.city" />
		</td>
		<td>
			{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.country" />
		</td>
		<td>
			{location.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.lng" />
		</td>
		<td>
			{location.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.lat" />
		</td>
		<td>
			{location.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.link" />
		</td>
		<td>
			{location.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.email" />
		</td>
		<td>
			{location.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.phone" />
		</td>
		<td>
			{location.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_location.description" />
		</td>
		<td>
			{location.description}
		</td>
	</tr>
</table>