<f:if condition="{locations}">
    <f:then>
        <h3 >Select other Location:</h3>
        <f:for each="{locations}" as="location">
           <f:if condition="{event.location.uid} != {location.uid}">
                <div class="row border-top my-2 py-2">
                    <f:spaceless>
                        <div class="col-2 col-md-1  text-left ml-0 pl-0">
                            <f:link.action pageUid="{settings.pageIds.editEvent}" action="eventChangeLocId" controller="Ajax" pluginName="Ajax" class="btn btn-secondary" title="{f:format.padding(padLength: '6', padString: '0',  padType:'left' , value: '{location.uid}')}" arguments="{event: '{event.uid}', 'location': '{location.uid}', 'returnToPid': '{settings.pageIds.editEvent}'}">
                                <span class="fas fa-arrows-alt-h"></span>
                            </f:link.action>
                        </div>
                        <div class="col-10 col-md-11 text-left">
                            <f:format.crop maxCharacters="90">{location.name}, {location.streetAndNr} - {location.city}</f:format.crop>
                        </div>
                    </f:spaceless>
                </div>
           </f:if>
        </f:for>

        <hr>
        or:
        <f:link.action pageUid="{settings.pageIds.editLocation}" action="new" controller="Location" class="btn btn-secondary" title="New" arguments="{organizer: '{organizer.uid}'}">
            <span class="fas fa-home"></span> add new Location
        </f:link.action>

    </f:then>
  </f:if>