{namespace jve=JVE\JvEvents\ViewHelpers}
{namespace vhs=JVE\JvEvents\ViewHelpers}


<div class="text-right">
    <f:link.action pageUid="{settings.pageIds.editLocation}" action="new" controller="Location" class="btn btn-primary">
        <span class="fas fa-plus-square"> </span> <span class="hidden-xs">{f:translate(key: 'tx_jvevents_domain_model_location.createNew', default: 'New Location')}</span>
    </f:link.action>
</div>


<f:if condition="{locations}">
    <f:then>
        <div class="clearfix my-2">
            <br/>
        </div>
        <h3 >Select one of the existing Locations as default: </h3>
        <f:for each="{locations}" as="location">
            <div class="row w-100 border border-left-0 my-2">
                <f:spaceless>
                    <div class="col-1  text-left ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="setDefault" controller="Location" class="btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <f:if condition="{location.defaultLocation}">
                                <f:then>
                                    <span class="far fa-check-square"></span>
                                </f:then>
                                <f:else>
                                    <span class="far fa-square"></span>
                                </f:else>
                            </f:if>
                        </f:link.action>
                    </div>
                    <div class="col-7  text-left">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="setDefault" title="{location.name}, {location.streetAndNr} - {location.city}" controller="Location" class="btn text-left" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <f:format.crop maxCharacters="75">{location.name}, {location.streetAndNr} - {location.city}</f:format.crop>
                        </f:link.action>
                    </div>
                    <div class="col-1  text-left ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="show" controller="Location" class="btn btn-primary" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}'}">
                            <span class="fa fa-eye"></span>
                        </f:link.action>
                    </div>
                    <div class="col-1  text-left ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="edit" controller="Location" class="btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <span class="fa fa-edit"></span>
                        </f:link.action>
                    </div>
                    <div class="col-1  text-left ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editEvent}" action="new" controller="Event" class="btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{f:translate(key: 'tx_jvevents_domain_model_event.create_event' , default: 'create Event')}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <span class="fa fa-calendar-alt"></span>
                        </f:link.action>
                    </div>
                    <div class="col-1  text-left ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="delete" controller="Location" class="btn btn-secondary" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}'}">
                            <span class="fa fa-trash"></span>
                        </f:link.action>

                    </div>
                </f:spaceless>
            </div>

        </f:for>
    </f:then>
    <f:else>
        <h3>Bitte zuerst einen Veranstaltungsort erstellen</h3><br />
    </f:else>
</f:if>