{namespace jve=JVelletti\JvEvents\ViewHelpers}
{namespace vhs=JVelletti\JvEvents\ViewHelpers}


<f:if condition="{locations}">
    <f:then>
        <div class="row">
            <div class="col-md-8">

                <f:if condition="{defaultLocationUid}">
                    <f:then>
                        <h3 class="left">Your Locations</h3>
                    </f:then>
                    <f:else>
                        <h3>Select one of the existing Locations as default: </h3>
                        <p>if no default location is selected, you will not be be listed as Organizer!</p>

                    </f:else>
                </f:if>
            </div>
            <div class="col-md-4 text-right">
                <div class="text-right">
                    <f:link.action pageUid="{settings.pageIds.editLocation}" action="new" controller="Location" class="btn btn-primary">
                        <span class="fas fa-plus-square"> </span> <span class="hidden-xs">{f:translate(key: 'tx_jvevents_domain_model_location.createNew', default: 'New Location')}</span>
                    </f:link.action>
                </div>
            </div>

        </div>
        <f:variable name="warnDefaultDifferent"></f:variable>
        <f:for each="{locations}" as="location">
            <div class="row w-100 border-top mt-2 pt-1 ml-1">
                <f:spaceless>
                    <div class="col-2  text-left ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="setDefault" controller="Location" class="btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <f:if condition="{location.defaultLocation}">
                                <f:then>

                                    <f:if condition="{location.organizer.lat} != {location.lat} || {location.organizer.lng} != {location.lng}">
                                        <f:then>
                                            <span class="fas fa-exclamation-triangle"></span>
                                            <f:variable name="warnDefaultDifferent">
                                                <span class="badge badge-warning p-1 mr-2">Org: <f:link.external uri="https://www.openstreetmap.org/?mlat={location.organizer.lat}&mlon={location.organizer.lng}#map=15/{location.organizer.lat}/{location.organizer.lng}">{location.organizer.lat}/{location.organizer.lng}</f:link.external></span>
                                                <span class="badge badge-warning p-1 mr-2"> Loc: <f:link.external uri="https://www.openstreetmap.org/?mlat={location.lat}&mlon={location.lng}#map=15/{location.lat}/{location.lng}">{location.lat}/{location.lng}</f:link.external></span>
                                            </f:variable>
                                        </f:then>
                                        <f:else>
                                            <span class="far fa-check-square"></span>
                                        </f:else>


                                    </f:if>
                                </f:then>
                                <f:else>
                                    <span class="far fa-square"></span>
                                </f:else>
                            </f:if>
                        </f:link.action>
                    </div>
                    <div class="col-2  text-left">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="setDefault" controller="Location" class="btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            Id:{location.uid}
                        </f:link.action>
                    </div>
                    <div class="col-8  text-right ml-0 pl-0">
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="show" controller="Location" class="ml-1 btn btn-primary" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}'}">
                            <span class="fa fa-eye"></span>
                        </f:link.action>
                        <f:link.action pageUid="{settings.pageIds.editLocation}" action="edit" controller="Location" class="ml-1 btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <span class="fa fa-edit"></span>
                        </f:link.action>
                        <f:link.action pageUid="{settings.pageIds.editEvent}" action="new" controller="Event" class="ml-1 btn btn-{f:if(condition: '{location.defaultLocation}' , then: 'primary', else: 'secondary')}" title="{f:translate(key: 'tx_jvevents_domain_model_event.create_event' , default: 'create Event')}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                            <span class="fa fa-calendar-alt"></span>
                        </f:link.action>
                        <f:if condition="{f:format.date(date: '{location.latestEvent}', format: 'Y-m-d')}  <  {f:format.date(date: 'now', format: 'Y-m-d')}">
                            <f:then>
                                <f:link.action pageUid="{settings.pageIds.editLocation}" action="delete" controller="Location" class="ml-1 btn btn-secondary" title="DELETE {location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}'}">
                                    <span class="fa fa-trash"></span>
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <f:link.action pageUid="{settings.pageIds.eventList}" action="list" controller="Event" class="ml-1 btn btn-secondary" title="Termine" arguments="{overruleFilter: {location: '{location.uid}', maxDays: '30'}}">
                                    <span class="fa fa-list"></span>
                                </f:link.action>
                            </f:else>
                        </f:if>

                    </div>
                </f:spaceless>

            </div>
                <div class="row w-100 border-bottom mb-2 pt-1 ml-1">
                    <f:spaceless>
                        <div class="col-1  text-left ml-0 pl-0">

                        </div>
                        <div class="col-11 text-left p-0">
                            <div class="d-none-md">
                                <f:link.action pageUid="{settings.pageIds.editLocation}" action="setDefault" title="{location.name}, {location.streetAndNr} - {location.city}" controller="Location" class="btn text-left" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                                    <f:format.crop maxCharacters="75">{location.name}, {location.streetAndNr} - {location.city}</f:format.crop>
                                </f:link.action>
                                <f:if condition="{location.latestEvent}">
                                    <f:then>
                                        <f:if condition="{f:format.date(date: '{location.latestEvent}', format: 'Y-m-d')}  <  {f:format.date(base: 'now', date: '-90 DAYS' , format: 'Y-m-d')}">
                                            <f:else>
                                                <br><span class="small">Latest event: <f:format.date format="d.m.Y">{location.latestEvent}</f:format.date></span>
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                </f:if>
                            </div>
                            <f:if condition="{location.lat} == 0 || {location.lng} == 0">
                                <div class="alert alert-warning mb-0 ">
                                    <f:link.action pageUid="{settings.pageIds.editLocation}" action="edit" controller="Location"
                                                   class=" w-100 ml-1 btn btn-outline-primary" title="{location.uid}" arguments="{location: '{location.uid}', organizer: '{organizer.0.uid}' , oldDefault: '{defaultLocation}'}">
                                        <div class="fas fa-exclamation-triangle"></div>
                                        No position on map! <br>Lat: {location.lat} | Lng: {location.lng}
                                    </f:link.action>
                                </div>
                            </f:if>

                            <f:if condition="{location.latestEvent}">
                                <f:then>
                                    <f:if condition="{f:format.date(date: '{location.latestEvent}', format: 'Y-m-d')}  <  {f:format.date(base: 'now', date: '-90 DAYS' , format: 'Y-m-d')}">
                                        <f:then>
                                            <div class="alert alert-warning ">
                                                <f:link.page class="w-100 btn btn-outline-primary mb-2 py-2" pageUid="{settings.pageIds.eventList}" additionalParams="{tx_jvevents_locations: {overruleFilter: {location: '{location.uid}', category: 'true' , startDate:  '{location.latestEvent}',maxDays: 1}}}">
                                                    <span class="fas fa-calendar-alt mx-1"></span> Unused location, latest event: <f:format.date format="d.m.Y">{location.latestEvent}</f:format.date> >>
                                                </f:link.page>
                                            </div>
                                        </f:then>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <div class="alert alert-warning">
                                        Unused location!
                                    </div>
                                </f:else>
                            </f:if>
                        </div>
                    </f:spaceless>
                </div>

        </f:for>
        <f:if condition="{warnDefaultDifferent}">
            <div class="alert alert-warning my-2">
                <span class="fas fa-exclamation-triangle"></span>
                The Map Coordinates of the default location is different from the Organizer's position on Map!<br>
                Please Update the setting: "default Location" to fix this.<br><br>
                <span class="small"><f:format.raw>{warnDefaultDifferent}</f:format.raw></span>

            </div>
        </f:if>
        <div class="m-2">
            &nbsp;
        </div>
    </f:then>
    <f:else>
        <div class="row">
            <div class="col-md-8">
                <h3>Bitte zuerst einen Veranstaltungsort erstellen</h3>
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <f:link.action pageUid="{settings.pageIds.editLocation}" action="new" controller="Location" class="btn btn-primary">
                        <span class="fas fa-plus-square"> </span> <span class="hidden-xs">{f:translate(key: 'tx_jvevents_domain_model_location.createNew', default: 'New Location')}</span>
                    </f:link.action>
                </div>
            </div>
        </div>
        <hr>

    </f:else>
</f:if>