{namespace jve=JVE\JvEvents\ViewHelpers}
<f:layout name="Backend" />

<f:section name="main">
	<f:render section="content" arguments="{_all}"/>
</f:section>
<f:section name="content">


		<div class="d-none" style="display:none;">
			<!-- comment: Icon or messages needed for Ajax see typo3\sysext\core\Classes\Imaging\IconRegistry.php //-->


			<span id="jvevents-spinner-icon"><core:icon size="small" identifier="spinner-circle-dark"/></span>
			<span id="jvevents-close-icon"><core:icon  size="small" identifier="status-dialog-notification"/></span>
			<span id="jvevents-error-icon"><core:icon  size="small" identifier="status-dialog-error"/></span>
			<span id="jvevents-okay-icon"><core:icon  size="small" identifier="status-dialog-ok"/></span>
		</div>

		<f:variable name="registrantsCount"><f:count>{registrants}</f:count></f:variable>
		<h2>{registrantsCount} Registrations {f:if( condition: '{onlyActual}' , then: 'in the last {onlyActual} Days' )} </h2>
		<f:if condition="{registrantsCount} > 998">
			<div class="alert alert-warning">
				Please keep in Mind: max search Result is restricted to 999 registrants.
				maybe also older registrations may exist.
			</div>
		</f:if>
		<f:if condition="{settings.directmail} && 1==2">
			<div>
				<f:link.action class="btn btn-default" action="list" arguments="{createDmailGroup:1}" title="Create Email Group">
					<core:icon identifier="actions-document"/> Create Email lists for Newsletter
				</f:link.action>


			</div>
		</f:if>
		<f:form id="jveventFilterForm" action="list" controller="EventBackend" method="post">
			<input type="hidden" name="uid" value="{plugin.uid}" /><f:form.hidden name="pluginUid" value="{plugin.uid}" />
			<f:form.select class="form-select" name="event" value="{event}" additionalAttributes="{onchange: 'document.getElementById(\'jveventFilterForm\').submit();'}" id="jvevents" property="event" options="{events}" optionLabelField="name" sortByOptionLabel="TRUE" prependOptionLabel="-" prependOptionValue="0"></f:form.select>
			<div class="form-check m-2">
				<f:form.checkbox class="form-check-input" name="recursive" id="recursive" property="recursive"  value="1" checked="{recursive} == 1" additionalAttributes="{onchange: 'document.getElementById(\'jveventFilterForm\').submit();'}" />
				<label class="form-check-label">Search also subpages of Page ID: {pageId}</label>
			</div>
			<div class="form-check m-2">
				<f:form.checkbox class="form-check-input" name="onlyActual" id="onlyActual" property="onlyActual"  value="-90" checked="{onlyActual} == -90" additionalAttributes="{onchange: 'document.getElementById(\'jveventFilterForm\').submit();'}" />
				<label class="form-check-label">not older than 90 Days</label>
			</div>
		</f:form>


		<div class="table-fit mb-0">
			<table class="table table-striped table-hover mb-0">
				<thead>
				<tr data-uid="0">
					<td class="col-1 nowrap">

					</td>
					<td class="col-4 col-title col-responsive nowrap">
						<b>First- Lastname, Company</b>
					</td>
					<td class="col-3 nowrap">
						<b>E-Mail</b>
					</td>

					<td class="col-1 col-control nowrap">
						<span title="This is a registration is UNconfirmed by User (if here is an 'X') - Confirmed" data-toggle="tooltip">U/C</span>
					</td>
					<f:if condition="{settings.EmConfiguration.enableHubspot}">
						<f:then>
							<td class="col-1 nowrap">
								<span title="This is a registration is send to Hubspot">H</span>
							</td>
						</f:then>
					</f:if>
					<td class="col-1 nowrap">
						<span title="This is a registration for multiple events (BB=BlockBooking) ">BB</span>
					</td>

				</tr>
				</thead>

				<tbody>
				<jve:be.paginate objects="{registrants}" as="paginatedRegistrants" itemsPerPage="{itemsPerPage}">

					<f:alias map="{pagination:paginatedRegistrants.pagination, paginator:paginatedRegistrants.paginator, name:paginatedRegistrants.name}">
						<f:render partial="Backend/Pagination" arguments="{_all}" />
					</f:alias>

					<f:for each="{paginatedRegistrants.paginator.paginatedItems}" as="registrant">
						<tr class="t3js-entity registrant{registrant.uid} regEvent{registrant.event}">
							<td class="col-1">

								<button type="button" class="btn btn-default btn-sm" data-bs-target="#regInfo{registrant.uid}" data-bs-toggle="collapse" aria-expanded="false" title="Details">

										<span class="t3js-icon icon icon-size-small icon-state-default actions-document-info" data-identifier="actions-document-info">
											<span class="icon-markup">
												<core:icon size="small" identifier="actions-document-info"/>
											</span>
										</span>
								</button>

							</td>
							<td class="col-4 col-title col-responsive nowrap">
								<div  data-bs-target="#regInfo{registrant.uid}" data-bs-toggle="collapse" aria-expanded="false">
									{registrant.firstName} {registrant.lastName}, {registrant.company}
								</div>


								<div id="regInfo{registrant.uid}" class="collapse" role="dialog">
									<div class="card mt-2" style="width: 100%;">
										<div class="card-header border-end-primary">
											<div class="row ">
												<div class="col-4 col-md-3 col-lg-2 my-1">
													Event:
												</div>

												<div class="col-8  col-md-9 col-lg-10 my-1">
													<jve:be.link uid="{registrant.event}" table="tx_jvevents_domain_model_event" pageId="{registrant.pid}" onlyActual="{onlyActual}" recursive="{recursive}" eventId="{event}" returnModule="tx_jvevents_web_jveventseventmngt"  returnController="EventBackend" returnAction="list" title="Edit Event" class="btn btn-default">
														<core:icon size="small" identifier="actions-document-open" /> ID: {registrant.event}
													</jve:be.link>
												</div>
											</div>
										</div>

										<div class="card-body">
											<div class="row">
												<div class="col-4 col-md-3 col-lg-2">
													Registrant:
												</div>
												<div class="col-8  col-md-9 col-lg-10">
													<jve:be.link uid="{registrant.uid}" table="tx_jvevents_domain_model_registrant" pageId="{registrant.pid}" onlyActual="{onlyActual}" recursive="{recursive}" eventId="{event}" returnModule="tx_jvevents_web_jveventseventmngt"  returnController="EventBackend" returnAction="list" title="Edit Registration" class="btn btn-default">
														<core:icon size="small" identifier="actions-document-open"/> ID: {registrant.uid}
													</jve:be.link>
												</div>
											</div>
											<div class="row mt-2">
												<div class="col-4 col-md-3 col-lg-2">
													Registrered at:
												</div>
												<div class="col-8  col-md-9 col-lg-10">
													<f:format.date format="d.m.Y">{registrant.crdate}</f:format.date><br>
												</div>
											</div>
											<div class="row">
												<div class="col-4 col-md-3 col-lg-2">
													City:
												</div>
												<div class="col-8  col-md-9 col-lg-10-8">
													{registrant.zip} {registrant.city}
												</div>
											</div>
											<div class="row">
												<div class="col-4 col-md-3 col-lg-2">
													Tel:
												</div>
												<div class="col-8  col-md-9 col-lg-10">
													{registrant.phone}
												</div>
											</div>

											<f:if condition="{registrant.additionalInfo}">
												<div class="row">
													<div class="col-12">
														<br>Additional Info: <f:format.nl2br>{registrant.additionalInfo}</f:format.nl2br><br>
													</div>
												</div>
											</f:if>


										</div>
									</div>
								</div>

							</td>
							<td class="col-3 nowrap">
								{registrant.email}
							</td>

							<td class="col-1 nowrap">
								<f:if condition="{registrant.hidden}">
									<f:then>
										X
									</f:then>
									<f:else>
										<f:if condition="{registrant.confirmed}">
											<f:then>
												<f:else>
													ok
												</f:else>
											</f:then>
											<f:else>
												<f:link.action class="btn btn-sm" action="confirm" arguments="{registrant: registrant, eventID: event}" title="Send Email confirmation">
													<core:icon identifier="actions-document"/>
												</f:link.action>
											</f:else>
										</f:if>
									</f:else>

								</f:if>
							</td>

							<f:if condition="{settings.EmConfiguration.enableHubspot}">
								<f:then>
									<td class="col-1 nowrap">
										<f:if condition="{registrant.hidden}">
											<f:else>
												<f:if condition="{0: registrant.hubspotResponse} == {0: '201'} || {0: registrant.hubspotResponse} == {0: '204'} ">
													<f:then>
														<f:if condition="{0: registrant.hubspotResponse} == {0: '204'}">
															<f:then>
																	<span title="Sent to Hubspot. Response was OK - {registrant.hubspotResponse}">
																		{registrant.hubspotResponse}
																	</span>
															</f:then>
															<f:else>
																	<span title="Was ReSent to Hubspot. Response was OK - {registrant.hubspotResponse}">
																		{registrant.hubspotResponse}
																	</span>
															</f:else>
														</f:if>
													</f:then>
													<f:else>
														<f:if condition="{0: registrant.hubspotResponse} == {0: '100'} || {0: registrant.hubspotResponse} == {0: '404'} || {0: registrant.hubspotResponse} == {0: '500'}">
															<f:then>
																<f:link.action absolute="true" class="btn btn-sm tx_jvevents_citrix" action="resendHubspot" arguments="{registrant: registrant.uid}" title="Send to Hubspot - {registrant.hubspotResponse} ">
																	<core:icon identifier="actions-system-backend-user-switch"/>
																</f:link.action>
															</f:then>
															<f:else>
																{registrant.hubspotResponse}
															</f:else>
														</f:if>

													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</td>
								</f:then>
							</f:if>


							<td class="col-1 nowrap">
								<f:if condition="{registrant.otherEvents}">
									<span title="This is a registration for multiple events (BB=BlockBooking) ">BB</span>
								</f:if>
							</td>

						</tr>


					</f:for>

				</jve:be.paginate>
				</tbody>
			</table>
		</div>


</f:section>