

<f:if condition="{settings.checkInstallation} > 0">
	<f:then>
		<f:if condition="{settings.checkInstallation} > 1">
			<div class="panel panel-info">
				<div class="panel-heading">
					Debug/Configuration Output
				</div>

				<div class="panel-body">
					<div class="alert alert-info">
						This is a helper information to check if everything is okay and setup correctly.<br>
						to avoid this: add the following line to you typoscript template -> setup :<br>
						plugin.tx_jvevents_events.settings.checkInstallation = 1<br>
						<br>
						1 = Only a check if this base typoscript is loaded.<br>
						2 = (or Higher) check if there are errors in the configuration <br>
						<br>
						If you do not want ANY of this output, remove this code from your own Template ! see Docu -> template -> Partials -> Debug -> CheckInstallation
						<br>or set plugin.tx_jvevents_events.settings.checkInstallation = -1<br>

					</div>
					<f:render partial="Debug/CheckInstallationRow" arguments="{title:'Debug', setting: '{settings.debug}' , help: 'if set to 2, the repository will throw an exception with all SQL Querys'}" />
					<f:render partial="Debug/CheckInstallationRow" arguments="{title:'checkInstallation', setting: '{settings.checkInstallation}' , help: 'should be 1, but usefull to check if everything is set up correctly)'}" />

					<f:if condition="{settings.register.privacyPid} < 1">
						<f:render partial="Debug/CheckInstallationRow" arguments="{title:'PrivacyPolicy', setting: '{settings.register.privacyPid}' , help: 'If You use Registration Form, you should set settings.register.privacyPid '}" />
					</f:if>
					<f:if condition="{settings.register.termsOfUsePid} < 1">
						<f:render partial="Debug/CheckInstallationRow" arguments="{title:'termsOfUsePid', setting: '{settings.register.termsOfUsePid}' , help: 'If You use Registration Form, you should set settings.register.termsOfUsePid '}" />
					</f:if>

					<f:if condition="{settings.phpTimeZone} == ''UTC">
						<f:then>
							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'phpTimeZone', setting: '{settings.phpTimeZone}' , help: 'phpTimeZone is set correctly to UTC '}" />
						</f:then>
						<f:else>

							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'phpTimeZone', setting: '{settings.phpTimeZone}' , help: ' $GLOBALS['TYPO3_CONF_VARS']['SYS']['phpTimeZone']  is NOT set to UTC ! you will probably run into problems to show the correct time'}" />
						</f:else>
					</f:if>

					<f:if condition="{settings.register.senderEmail}">
						<f:then>
							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'senderEmail', setting: '{settings.register.senderEmail}' , help: 'can be changed in TYPOscript settings.register.senderEmail '}" />
						</f:then>
						<f:else>

							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'senderEmail', setting: '{settings.register.senderEmail}' , help: 'If You use Registration Form, you should set settings.register.senderEmail '}" />
						</f:else>
					</f:if>
					<f:if condition="{settings.register.senderName}">
						<f:then>

							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'senderName', setting: '{settings.register.senderName}' , help: 'can be changed in TYPOscript  settings.register.senderName '}" />
						</f:then>
						<f:else>

							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'senderName', setting: '{settings.register.senderName}' , help: 'If You use Registration Form, you should set settings.register.senderName '}" />
						</f:else>
					</f:if>
					<f:render partial="Debug/CheckInstallationRow" arguments="{title:'googleApiKey', setting: '{settings.EmConfiguration.googleApiKey}' , help: 'If You are showing a Google Map, you should set Extension Manager -> Configuration -> advanced -> googleApiKey '}" />



					<f:if condition="{modulelist}">
						<f:then>
							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'layout', setting: 'Partial{settings.LayoutList}' , help: 'Layout for List of Events should be set '}" />

							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'detailPid', setting: '{settings.detailPid}' , help: 'should be set to a extra page. on that page Add event Plugin in ShowEvent Mode )'}" />

							<f:if condition="{settings.detailPid} < 1">
								<f:render partial="Debug/CheckInstallationRow" arguments="{title:'WARNING', setting: '{settings.detailPid}' , help: 'detailPid is not set in FlexForm of the Plugin', class: 'alert alert-warning'}" />
							</f:if>
						</f:then>

						<f:else>
							<f:render partial="Debug/CheckInstallationRow" arguments="{title:'layout', setting: 'Partial{settings.LayoutSingle}' , help: 'Layout for Single Event should be set '}" />

						</f:else>
					</f:if>

					<f:if condition="{settings.debug} > 0">
						<f:debug inline="true">{settings}</f:debug>
					</f:if>
					<f:if condition="{debugArray}">
						<h3>Needed Time (in milliseconds):</h3>
						<f:for each="{debugArray}" as="debugRow">
							{debugRow}<br>
						</f:for>

					</f:if>
				</div>
			</div>

		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{settings.checkInstallation} < 0">
			<f:then>
			</f:then>
			<f:else>
				<div class="alert alert-warning">
					The TYPO Script Setting checkInstallation is not set. '{settings.checkInstallation}'
					Maybe you forgot to include the extensions TypoScript to your Template?
				</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>