
<table class="tx-jv-events" >
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.first_name" />
		</td>
		<td>
			{registrant.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.last_name" />
		</td>
		<td>
			{registrant.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.email" />
		</td>
		<td>
			{registrant.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.gender" />
		</td>
		<td>
			{registrant.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.company" />
		</td>
		<td>
			{registrant.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.department" />
		</td>
		<td>
			{registrant.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.street_and_nr" />
		</td>
		<td>
			{registrant.streetAndNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.zip" />
		</td>
		<td>
			{registrant.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.city" />
		</td>
		<td>
			{registrant.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.country" />
		</td>
		<td>
			{registrant.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.language" />
		</td>
		<td>
			{registrant.language}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.phone" />
		</td>
		<td>
			{registrant.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.additional_info" />
		</td>
		<td>
			{registrant.additionalInfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.privacy" />
		</td>
		<td>
			{registrant.privacy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.newsletter" />
		</td>
		<td>
			{registrant.newsletter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.customer_id" />
		</td>
		<td>
			{registrant.customerId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.profession" />
		</td>
		<td>
			{registrant.profession}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.recall" />
		</td>
		<td>
			{registrant.recall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.contact_id" />
		</td>
		<td>
			{registrant.contactId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.username" />
		</td>
		<td>
			{registrant.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more1" />
		</td>
		<td>
			{registrant.more1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more2" />
		</td>
		<td>
			{registrant.more2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more3" />
		</td>
		<td>
			{registrant.more3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more4" />
		</td>
		<td>
			{registrant.more4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more5bool" />
		</td>
		<td>
			{registrant.more5bool}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more6int" />
		</td>
		<td>
			{registrant.more6int}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more7date" />
		</td>
		<td>
			{registrant.more7date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.more8file" />
		</td>
		<td>
			{registrant.more8file.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_registrant.password" />
		</td>
		<td>
			{registrant.password}
		</td>
	</tr>
</table>