

<div class="form-group display-data row">
    <f:variable name="propertyName">{object}.{property}FE</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName}"/>
    <f:if condition="{property2}">
        <f:variable name="propertyName2">{object}.{property2}</f:variable>
        <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName2FE}"/>
    </f:if>
    <label class="control-label col-sm-4">
        <f:if condition="{translationKey}">
            <f:then>
                <f:translate key="{translationKey}">{translationKey}</f:translate>
            </f:then>
            <f:else>
                {label}
            </f:else>
        </f:if>

        <f:if condition="{mandatory}">
            <span class="mandatory">*</span>
        </f:if>

    </label>
    <div class="col-sm-4">
        <!-- Datepicker from // entry time -->
        <f:variable name="valueFE"><f:spaceless><f:if condition="{value}"><f:then>{f:format.date(format:'H:i', date: '{value}')}</f:then></f:if></f:spaceless></f:variable>

        <div class="input-group  clockpicker" data-autoclose="true"  data-donetext="Ok">
            <f:form.textfield
                    property="{property}FE"
                    title="Format: 12:00 or - open end with -"
                    value="{valueFE}"
                    pattern="(-|((0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])|^$))"
                    id="{property}FE"
                    class="form-control clearable"
                    data="{date-type: 'time'}"
            />

            <div class="input-group-addon  btn btn-secondary">
                    <i class="fas fa-clock "></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <f:if condition="{property2}">
            <!-- Datepicker until , if property is set -->
            <f:variable name="valueFE2"><f:spaceless><f:if condition="{value2}"><f:then>{f:format.date(format:'H:i', date: '{value2}')}</f:then></f:if></f:spaceless></f:variable>
            <div class="input-group  clockpicker" data-autoclose="true" data-donetext="Ok">
                <f:form.textfield
                        property="{property2}FE"
                        title="Format: 12:00"
                        pattern="(-|((0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9])|^$))"
                        value="{valueFE2}"
                        id="{property2}FE"
                        class="form-control clearable"
                        data="{date-type: 'time'}"
                />

                <div class="input-group-addon btn btn-secondary">
                        <i class="fas fa-clock "></i>
                </div>

            </div>
        </f:if>
    </div>
</div>