{namespace jve=JVE\JvEvents\ViewHelpers}

<div class="alert alert-warning">
    <h3>Hinweis 3.8.2022 - 12:00</h3>

    Das Anzeigen der Karte klappt im Moment nur teilweise und die Kordinaten werden derzeit nur korrekt für bereits gespeicherte Adressen ermittelt.<br>
    Neue oder geänderte Adressen deshalb derzeit  <b>ZWEIMAL<b> speichern!<br>
    Man kann die Geo-Koordinaten derzeit auch von Hand eintragen, falls Probleme auftreten.<br>
    <br>
    Zum Beispiel: <br>
    "lon":"11.47121"  | "lat":"48.11483" für den Marienplatz München <br>
</div>
<div class="form-group display-data row">
    <f:variable name="propertyName">{object}.{property}</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName}"/>
    <f:variable name="propertyName2">{object}.{property2}</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName2}"/>


    <div class="col-2 col-sm-4 d-none">
        <span id="jvevents-geo-update" class="btn btn-primary mx-2" >
            <i class="{fa-icon}" title="{f:translate(key:'jv_events_model_location.press-refresh.title')}"></i>
        </span>
        <span class="d-none d-md-inline-block">
            <f:if condition="{translationKey}">
                <f:then>
                    <f:translate key="{translationKey}">{translationKey}</f:translate>
                </f:then>
            </f:if>
        </span>
    </div>


    <f:if condition="{buttonSetPosition}">
        <f:then>
            <div class="col-8 col-sm-4 text-center">
                <button id="jvevents-geo-getpos" type="button" class=" btn btn-outline-primary" data-target="#jvevents-geo-getpos-collapse" data-toggle="collapse">
                    <i class="fas fa-street-view mr-2"></i>
                    <span class="">
                            <f:translate key="select-position-btn">Position bestimmen</f:translate>
                        </span>
                </button>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{label}">
                <f:then>
                    <div class="col-10 col-sm-8">
                        <f:translate key="{label}">{label}</f:translate>
                    </div>
                </f:then>
            </f:if>
        </f:else>
    </f:if>



    <div class="col-2 col-sm-4">
        <f:if condition="{hideOkButton}">
            <f:else>
                <button id="jvevents-geo-ok" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class=" btn btn-secondary">
                        <i class="fas fa-check mr-2"></i>
                        <span class="d-none d-md-inline-block">
                            OK
                        </span>
                    </span>
                </button>
            </f:else>
        </f:if>
    </div>



</div>
<div class="d-noneXX">
    <div class="form-group display-data row">


        <div class="col-2 col-sm-4">

        </div>
        <div class="col-10 col-sm-8">
            <div class="input-group " >
                <f:form.textfield class="form-control col-5"  property="{property}" id="{property}" title="{property}" maxlength="{maxLength}"/>
                <div class="input-group-addon btn btn-secondary">
                    <i class="fas fa-map-marker"></i>
                </div>
                <f:form.textfield class="form-control  col-5"  property="{property2}" id="{property2}" title="{property2}"  maxlength="{maxLength}"/>
                <div class="input-group-addon  btn btn-secondary">
                    <i class="fas fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapse" id="jvevents-geo-getpos-collapse">
    <div class="alert alert-secondary">
        <f:translate key="aks_for_position_intro">
            Wenn du möchtest, kann die Webseite deine aktuelle Position bestimmen und die Entfernungen zu den Veranstaltungen entsprechend berechnen.
        </f:translate> <br>
        <br>
        <f:translate key="aks_for_position_browser_and_cookie">
            Dazu wirst du, je nach Browser Optionen, noch gefragt, ob du dies erlauben möchstest. Diese Koordinaten werden dann in deinem Bowser als Cookie gespeichert. Die Webseite selber wertet diese Eingaben nicht aus. Es erfolgt kein User Tracking! Ehrlich!
        </f:translate>
        <br>
        <br>
        <span class="btn btn-outline-primary" onclick="jv_events_askPosition();"><f:translate key="select-position-btn">Position bestimmen  </f:translate></span>
    </div>
</div>
<div id="map" style="height:300px;"
     data-lat="{location.lat}" data-log="{location.lng}"
     data-glat="48.1148263" data-glog="11.4712236"
     data-namelat="input#lat" data-namelng="input#lng"
     data-copy="&copy; <a target='_blank' href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"

     data-geocodeurl="https://nominatim.openstreetmap.org/search/{location.addressEncoded}?format=json&addressdetails=1&limit=1&polygon_svg=1"
     data-geocodeurlshort="https://nominatim.openstreetmap.org/search/{location.cityEncoded}?format=json&addressdetails=1&limit=1&polygon_svg=1"
></div>

<script type="text/javascript" src="/typo3conf/ext/jv_events/Resources/Public/JavaScript/leaflet-1-7-1.js"></script>
<script type="text/javascript" src="/typo3conf/ext/jv_events/Resources/Public/JavaScript/tango/LeafletFeGeoCoder.js"></script>
<link rel="stylesheet" media="all" type="text/css" href="/typo3conf/ext/jv_events/Resources/Public/Css/leaflet-1-7-1.css" />
<link rel="stylesheet" media="all" type="text/css" href="/typo3conf/ext/jv_events/Resources/Public/Css/tango/leafletFrontend.css" />

