{namespace jve=JVelletti\JvEvents\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}


<div class="form-group display-data row">
    <f:variable name="propertyName">{object}.{property}</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName}"/>
    <f:variable name="propertyName2">{object}.{property2}</f:variable>
    <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName2}"/>


    <div class="col-2 col-sm-4">
        <span id="jvevents-geo-update" class="btn btn-primary mx-2" >
            <i class="{fa-icon}" title="{f:translate(key:'jv_events_model_location.press-refresh.title')}"></i>
        </span>
        <span class="d-md-inline-block">
            <f:if condition="{translationKey}">
                <f:then>
                    <f:translate key="{translationKey}">{translationKey}</f:translate>
                </f:then>
            </f:if>
        </span>
    </div>


    <f:if condition="{buttonSetPosition}">
        <f:then>
            <div class="col-8 col-sm-4 text-center">
                <button id="jvevents-geo-getpos" type="button" class=" btn btn-outline-primary" data-target="#jvevents-geo-getpos-collapse" data-toggle="collapse">
                    <i class="fas fa-street-view mr-2"></i>
                    <span class="">
                            <f:translate key="select-position-btn">Position bestimmen</f:translate>
                        </span>
                </button>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{label}">
                <f:then>
                    <div class="col-10 col-sm-8">
                        <f:translate key="{label}">{label}</f:translate>
                    </div>
                </f:then>
            </f:if>
        </f:else>
    </f:if>



    <div class="col-2 col-sm-4">
        <f:if condition="{hideOkButton}">
            <f:else>
                <button id="jvevents-geo-ok" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class=" btn btn-secondary">
                        <i class="fas fa-check mr-2"></i>
                        <span class="d-none d-md-inline-block">
                            OK
                        </span>
                    </span>
                </button>
            </f:else>
        </f:if>
    </div>



</div>
<div class="d-noneXX">
    <div class="form-group display-data row">


        <div class="col-2 col-sm-4">

        </div>
        <div class="col-10 col-sm-8">
            <div class="input-group " >
                <f:form.textfield class="form-control col-5"  property="{property}" id="{property}" title="{property}" maxlength="{maxLength}"/>
                <div class="input-group-addon btn btn-secondary">
                    <i class="fas fa-map-marker"></i>
                </div>
                <f:form.textfield class="form-control  col-5"  property="{property2}" id="{property2}" title="{property2}"  maxlength="{maxLength}"/>
                <div class="input-group-addon  btn btn-secondary">
                    <i class="fas fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapse" id="jvevents-geo-getpos-collapse">
    <div class="alert alert-secondary">
        <f:translate key="aks_for_position_intro">
            Wenn du möchtest, kann die Webseite deine aktuelle Position bestimmen und die Entfernungen zu den Veranstaltungen entsprechend berechnen.
        </f:translate> <br>
        <br>
        <f:translate key="aks_for_position_browser_and_cookie">
            Dazu wirst du, je nach Browser Optionen, noch gefragt, ob du dies erlauben möchstest. Diese Koordinaten werden dann in deinem Bowser als Cookie gespeichert. Die Webseite selber wertet diese Eingaben nicht aus. Es erfolgt kein User Tracking! Ehrlich!
        </f:translate>
        <br>
        <br>
        <span class="btn btn-outline-primary" onclick="jv_events_askPosition();"><f:translate key="select-position-btn">Position bestimmen  </f:translate></span>
    </div>
</div>

<div id="map" style="height:300px;"
     data-lat="{location.lat}" data-lng="{location.lng}"
     data-glat="48.1148263" data-glog="11.4712236"
     data-namelat="input#lat" data-namelng="input#lng"
     data-copy="&copy; <a target='_blank' href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
     data-movemarkerallowed="true"
     data-mapzoom="{settings.filter.doubleclickzoom}"
     data-namezip="input#zip"
     data-namecity="input#city"
     data-namestreet="input#streetAndNr"
     data-namecountry="select#jv_events_country"
     data-geocodebase="https://nominatim.openstreetmap.org/search"
     data-geocodeoptions="?format=json&addressdetails=1&limit=1&polygon_svg=1"
     data-geocodeurl="https://nominatim.openstreetmap.org/search?format=json&q={location.addressEncoded}&addressdetails=1&limit=1&polygon_svg=1"
     data-geocodeurlshort="https://nominatim.openstreetmap.org/search?format=json&q={location.cityEncoded}&addressdetails=1&limit=1&polygon_svg=1"
     data-publicpath="{core:normalizedUrl(pathOrUrl: 'EXT:jv_events/Resources/Public/')}"
></div>
<v:asset.prefetch domains="nominatim.openstreetmap.org" />
<f:asset.script identifier="leafletLocation1" src="EXT:jv_events/Resources/Public/JavaScript/leaflet-1-7-1.js" async="false" priority="true"></f:asset.script>
<f:asset.script identifier="leafletGeocoder" src="EXT:jv_events/Resources/Public/JavaScript/tango/LeafletFeGeoCoder.js" async="false" priority="true"></f:asset.script>
<f:asset.css identifier="leafletLocation1" href="EXT:jv_events/Resources/Public/Css/leaflet-1-7-1.css"></f:asset.css>
<f:asset.css identifier="leafletLocation2" href="EXT:jv_events/Resources/Public/Css/tango/leafletFrontend.css"></f:asset.css>



