{namespace jve=JVE\JvEvents\ViewHelpers}

<div class="form-group display-data row">
        <f:variable name="propertyName">{object}.{property}</f:variable>
        <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName}"/>
        <f:variable name="propertyName2">{object}.{property2}</f:variable>
        <f:render partial="FormErrorSingle" arguments="{property: errorProperty, field: propertyName2}"/>



    <div class="col-2 col-sm-4">
        <span id="jvevents-geo-update" class="btn btn-primary mx-2" onclick="findAddress({'address': updateAddressFromFields() }); " >
            <i class="{fa-icon}" title="{f:translate(key:'jv_events_model_location.press-refresh.title')}"></i>

        </span>
        <span class="d-none d-md-inline-block">
            <f:if condition="{translationKey}">
                <f:then>
                    <f:translate key="{translationKey}">{translationKey}</f:translate>
                </f:then>
            </f:if>
        </span>
    </div>

        <f:if condition="{buttonSetPosition}">
            <f:then>
                <div class="col-8 col-sm-4 text-center">
                    <button id="jvevents-geo-getpos" type="button" class=" btn btn-outline-primary" data-target="#jvevents-geo-getpos-collapse" data-toggle="collapse">
                        <i class="fas fa-street-view mr-2"></i>
                        <span class="">
                            <f:translate key="select-position-btn">Position bestimmen</f:translate>
                        </span>
                    </button>
                </div>
            </f:then>
            <f:else>
                <f:if condition="{label}">
                    <f:then>
                        <div class="col-10 col-sm-8">
                            <f:translate key="{label}">{label}</f:translate>
                        </div>
                    </f:then>
                </f:if>
            </f:else>
        </f:if>



    <div class="col-2 col-sm-4">
        <f:if condition="{hideOkButton}">
            <f:else>
                <button id="jvevents-geo-ok" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class=" btn btn-secondary">
                        <i class="fas fa-check mr-2"></i>
                        <span class="d-none d-md-inline-block">
                            OK
                        </span>
                    </span>
                </button>
            </f:else>
        </f:if>
    </div>

    <div class="d-none">
        <div class="input-group " >
            <f:form.textfield class="form-control" readonly="readonly" property="{property}" id="{property}" maxlength="{maxLength}"/>
            <div class="input-group-addon btn btn-secondary">
                <i class="fas fa-map-marker"></i>
            </div>
        </div>
    </div>
    <div class="d-none">
        <div class="input-group  ">
            <f:form.textfield class="form-control" readonly="readonly" property="{property2}" id="{property2}" maxlength="{maxLength}"/>
            <div class="input-group-addon  btn btn-secondary">
                <i class="fas fa-map-marker"></i>
            </div>
        </div>

    </div>
</div>
<div class="collapse" id="jvevents-geo-getpos-collapse">
    <div class="alert alert-secondary">
        <f:translate key="aks_for_position_intro">
            Wenn du möchtest, kann die Webseite deine aktuelle Position bestimmen und die Entfernungen zu den Veranstaltungen entsprechend berechnen.
        </f:translate> <br>
        <br>
        <f:translate key="aks_for_position_browser_and_cookie">
            Dazu wirst du, je nach Browser Optionen, noch gefragt, ob du dies erlauben möchstest. Diese Koordinaten werden dann in deinem Bowser als Cookie gespeichert. Die Webseite selber wertet diese Eingaben nicht aus. Es erfolgt kein User Tracking! Ehrlich!
        </f:translate>
        <br>
        <br>
        <span class="btn btn-outline-primary" onclick="jv_events_askPosition();"><f:translate key="select-position-btn">Position bestimmen  </f:translate></span>
    </div>
</div>
<div id="map" style="height:300px;"></div>

<jve:geocoder location="{location}" updateFunction="{updateFunction}">

</jve:geocoder>
