


		<f:if condition="{settings.regErrorMsg}">
			<f:then>
				<div class="alert alert-warning">
					<div class="alert-heading">
						{f:translate(key: 'register_was_not_stored' , default:'ERROR: Your registration was NOT stored')}
					</div>
					<div class="alert-body">
						{settings.regErrorMsg}
					</div>
				</div>
			</f:then>
			<f:else>
				<div class="alert alert-success">
					<div class="alert-heading ">
						{f:translate(key: 'register_was_stored' , default:'Your registration was stored')}
					</div>
					<div class="alert-body">

						<f:if condition="{settings.success}">
							<f:then>
								<div class="hidden d-none">ID: {settings.pageId}-L-{settings.sys_language_uid}-E-{event.uid}-R-{registrant.uid}<br></div>
								<br>
								<f:if condition="{settings.successMsg}">
									{f:translate(key: '{settings.successMsg}')}
								</f:if>

							</f:then>

						</f:if>
						<br />

					</div>
				</div>
			</f:else>
		</f:if>


