<f:layout name="Default" />

<f:section name="main">
	<f:variable name="lastDate">99.99.9999</f:variable>
<f:flashMessages />

	<f:render partial="Debug/CheckInstallation" arguments="{modulelist: 'TRUE' , event:event, settings: settings}" />
	<f:if condition="{settings.EmConfiguration.useGeoLocation}">
		<f:then>
			<div id="jv_events_geo" class="hidden d-none" data-askUser="1" data-lng="{settings.list.longitude}" data-lat="{settings.list.latitude}">
				GEO Position from user Position .. we are asking user to overwrite this
			</div>
		</f:then>
		<f:else>
			<div id="jv_events_geo" class="hidden d-none" data-lng="{settings.list.longitude}" data-lat="{settings.list.latitude}">
				GEO Position from Settings
			</div>
		</f:else>

	</f:if>
	<f:if condition="{settings.ShowFilter}">
		<f:render partial="Event/List/Partial{settings.LayoutList}/Filter" arguments="{eventsFilter: eventsFilter, settings: settings}"/>
	</f:if>

	<div class="jv_events_{settings.LayoutList} {settings.list.additionalClass}">
		<f:if condition="{events}">
			<f:then>
				<f:render partial="Event/List/Partial{settings.LayoutList}/HeaderEvent" arguments="{event:event, settings: settings}" />


				<f:for each="{events}" as="event">
					<f:variable name="aktDate">{event.startDate -> f:format.date(format:"d.m.Y")}</f:variable>
					<f:render partial="Event/List/Partial{settings.LayoutList}/SingleEvent" arguments="{event:event, settings: settings, aktDate: aktDate, lastDate: lastDate}" />
					<f:variable name="lastDate">{event.startDate -> f:format.date(format:"d.m.Y")}</f:variable>
				</f:for>

				<f:if condition="{settings.withMicroFormat}">
					<f:then>
						<f:render partial="Event/List/MicroFormat" arguments="{events: events, settings: settings}"/>
					</f:then>
				</f:if>
			</f:then>
			<f:else>
				<div class="alert alert-info">
					<f:translate key="tx_jvevents_event.list.no_events_found"> No Events Found</f:translate>
				</div>
			</f:else>
		</f:if>
	</div>


</f:section>