{namespace event=JVelletti\JvEvents\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />

  <f:render partial="Debug/CheckInstallation" arguments="{modulelist: 'FALSE' ,event:event, settings: settings}" />
  <div class="jv_events_{settings.LayoutSingle} {settings.single.additionalClass}">
      <f:if condition="{event}">
          <f:then>
              <div class="hidden d-none">
                  Registration possible Until: {event.registrationUntil -> event:format.date( format:"d.m.Y H:i")}
                  <br>Now from event: {event.actualTime -> event:format.date( format:"d.m.Y H:i")}
              </div>
              <f:render partial="Event/Single/Partial{settings.LayoutSingle}/Base" arguments="{event:event, subevents:subevents, subeventcount: subeventcount , settings:settings , hash: hash}" />

          </f:then>
          <f:else>

              <div class="alert alert-info alert-dismissable my-4">

                  <f:translate key="event.notfound">Could not find this event. Maybe it is canceled.</f:translate>
              </div>
          </f:else>
      </f:if>


  </div>

</f:section>