
<label for="name">
	<f:translate key="tx_jvevents_domain_model_organizer.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_jvevents_domain_model_organizer.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_jvevents_domain_model_organizer.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="salesForceUserId">
	<f:translate key="tx_jvevents_domain_model_organizer.sales_force_user_id" />
</label><br />
	<f:form.textfield property="salesForceUserId" /><br />
<label for="images">
	<f:translate key="tx_jvevents_domain_model_organizer.images" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="description">
	<f:translate key="tx_jvevents_domain_model_organizer.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />