
<table class="tx-jv-events" >
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_organizer.name" />
		</td>
		<td>
			{organizer.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_organizer.email" />
		</td>
		<td>
			{organizer.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_organizer.phone" />
		</td>
		<td>
			{organizer.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_organizer.sales_force_user_id" />
		</td>
		<td>
			{organizer.salesForceUserId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_organizer.images" />
		</td>
		<td>
			{organizer.images.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jvevents_domain_model_organizer.description" />
		</td>
		<td>
			{organizer.description}
		</td>
	</tr>
</table>