{namespace jve=JVelletti\JvEvents\ViewHelpers}


<div class="d-none hidden">
        <f:form.textfield  id="lat" name="lat"/>
        <f:form.textfield  id="minlat" name="minlat"/>
        <f:form.textfield  id="maxlat" name="maxlat"/>
        <f:form.textfield  id="lng" name="lng"/>
        <f:form.textfield  id="minlng" name="minlng"/>
        <f:form.textfield  id="maxlng" name="maxlng"/>
        <f:form.textfield class="form-control" id="zoom" value="{settings.filter.initMapZoom}" name="zoom"/>
</div>

<div id="map" style="height:350px; width:95%" data-publicpath="{core:normalizedUrl(pathOrUrl: 'EXT:jv_events/Resources/Public/')}"></div>



<f:asset.script identifier="googleMapsApi" async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key={settings.googleApiKey}&loading=async&libraries=marker&callback=initGeoCoderMap"></f:asset.script>
<f:asset.script identifier="googleMapsCode" >
        var initAddress = '<f:format.raw>{settings.filter.initMapAddress}</f:format.raw>';
        var initZoom = <f:format.raw>{settings.filter.initMapZoom}</f:format.raw>;
</f:asset.script>
<f:asset.script identifier="googleMapsFunctions" async="async" defer="defer" src="{core:normalizedUrl(pathOrUrl: 'EXT:jv_events/Resources/Public/JavaScript')}/googleMapsGeoCoderAllplan.js"></f:asset.script>

